[2018-01-21 19:22] yakky commented on #409
I think you added too much arguments. `latestpostplugin` doesn't belong there.
See the django CMS full documentation http://djangocms.readthedocs.io/en/latest/reference/api_references/#cms.api.add_plugin

[2018-01-21 20:41] kynsi commented on #409
I know, but it keeps saying that `latestpostplugin` doesn't have a value..

[2018-01-22 11:18] kynsi commented on #409
Here's the exact error:
`ValueError: "<LatestPostsPlugin: 5 latest articles by tag>" needs to have a value for field "latestpostsplugin" before this many-to-many relationship can be used.
`

[2018-01-22 17:55] kynsi opened #422 "Latest articles plugin shows categories from all blogs if one is selected"
If you have multiple blogs and you only want to show the latest articles from one blog it shows the categories from all the blogs in the category-filter even if you have selected the right configuration

[2018-01-24 02:06] yakky commented on #409
You cannot provide ManyToMany field values in `add_plugin` as theorm will try to save the m2m data before the object is ready
do something like:

    plugin = add_plugin(placeholder, plugin_type='BlogLatestEntriesPlugin', language=language, template_folder='Masonry style',app_config=config)
    plugin.add(category)

This should work

[2018-01-24 02:06] yakky commented on #422
Thanks for reporting this

[2018-01-24 07:56] yakky commented on #408
@bbirand could you check if #424 fixes your issue?

[2018-01-26 20:44] kynsi opened #425 "Question: reuse placeholder from parent page in posts?"
I have a regular django-cms page where I've added a latest-articles plugin. It only shows articles of a certain category. Underneath this list I have a placeholder, for instance an advertorial.
I want this same placeholder/advertorial to show up beneath each post that is selected in the plugin. Is this possible? Djangocms has an "inherit" feature for placeholders but this doesn't work.

[2018-01-27 19:39] yakky commented on #425
@kynsi If I understand correctly what you want to achieve, have a look at static placeholders (https://docs.django-cms.org/en/release-3.4.x/how_to/templates.html#static-placeholder)
If you need further help, feel free to join the [gitter root](https://gitter.im/nephila/applications)

[2018-01-27 19:39] #425 closed

[2018-01-28 12:49] kynsi commented on #425
No, I meant using placeholders from certain pages only, but I've managed to get it working using [show_placeholder](http://docs.django-cms.org/en/release-3.4.x/reference/templatetags.html#show-placeholder)

[2018-01-28 13:19] yakky commented on #425
Thanks for reporting the solution

[2018-02-04 16:49] kynsi opened #428 "Request: plugin for selectable posts"
The blog is working out nicely but it would be nice to have a list plugin where you can define the number of posts and manually choose a post for each position. So a bit like the latest posts plugin but not filled based on publish-date but manually.

[2018-02-04 23:33] yakky commented on #428
This is something I was just thinking about in the past weeks. I lack time to implement this, but I think that a sorted-m2m enabled plugin that allow to choose posts would be a really nice idea to add

[2018-02-07 16:59] kynsi commented on #428
Yeah, that would be great! I'm afraid I lack the skills to write this, but I'll give it a go.

[2018-02-21 22:42] yakky commented on #408
@bbirand The only way I have reproduced is on Django 1.11 which is still not supported. Support coming in #430 (but really only dependencies needed changes)

[2018-02-26 11:47] jedie opened #431 "cmsplugin-filer is deprecated addons"
**cmsplugin-filer** is in setup.py `install_requires`

But it's a deprecated addons, see: http://docs.django-cms.org/en/latest/topics/commonly_used_plugins.html#deprecated-addons

And can result in problems like:

- https://github.com/divio/django-cms/issues/6198#issuecomment-352729551

What's about a migration to a core addon?

[2018-02-26 12:21] jedie opened #432 "missing migrations"
[code]

[2018-02-26 13:09] yakky commented on #431
It's been left in 0.9 just to ease the migration to filer ThumbnailOption.
Requirement for external django CMS plugin will be removed in 1.0 (which is due soon, and will drop really old compatibilities)

[2018-02-26 13:12] yakky commented on #432
Ouch :man_facepalming:
PR opened
I will likely release a patch version to fix this

[2018-02-27 08:07] yakky commented on #432
Fixed in 0.9.2, released today
Thanks @jedie for reporting this

[2018-02-27 08:07] #432 closed

[2018-02-27 12:52] jedie commented on #432
btw. in one of my projects i add a test for it and check the output of "makemigrations --dry-run" ;)

[2018-02-27 12:54] yakky commented on #432
Yes, that would be the right thing to do
PR welcome, if you would like to share the test :)

[2018-03-05 14:08] spnshguy opened #434 "Content not updating"
With version 0.8.13,

I am able to create a blog but whenever I modify a page, the content will not change.

For example, I create a an article named "Lorem Ipsum", after modifying the title to "Lorem A Ipsum", I get the prompt saying that the changes are saved but it still is saved with the old content

[2018-03-09 19:13] kynsi opened #435 "Wizard generates error in Django 1.11"
If I create a new post with the wizard I get the following error when saving:

`AttributeError at /cms_wizard/create/
This QueryDict instance is immutable`

django = 1.11.11
djangocms = 3.5.1
djangocms-blog = 0.9.2

[2018-03-09 19:20] yakky commented on #435
@kynsi which version of django-appdata and aldryn-apphooks config have you installed?

[2018-03-09 19:23] yakky commented on #434
Which django / django cms version are you using?

[2018-03-09 19:47] kynsi commented on #435
django-appdata==0.2.0
aldryn-apphooks-config==0.3.3

[2018-03-09 21:27] yakky commented on #435
Does this branch of aldryn-apphooks-config fixes your issues https://github.com/aldryn/aldryn-apphooks-config/archive/feature/django11.zip ?

[2018-03-09 21:55] kynsi commented on #435
Unfortunately not. I looked in the debug-info and found this error:

`Error in formatting: AttributeError: 'WizardStep2Form' object has no attribute '_errors'`

[2018-03-09 22:03] yakky commented on #435
:thinking: I will try to reproduce the issue
They way to trigger this is just to create a new post from the wizard, right?

[2018-03-09 22:05] kynsi commented on #435
Yes, exactly.

[2018-03-09 22:08] yakky commented on #435
Ok, I will try to get back to you soon

[2018-03-09 22:33] kynsi commented on #435
Thanks. Let me know if you need any more information. I'll try a fresh testrun tomorrow.

[2018-03-10 12:24] kynsi commented on #435
I just did fresh install in a new env (lxml is missing from the dependencies btw) and I get the same error.

[2018-03-10 21:30] yakky commented on #435
@kynsi issue confirmed. A fix is on the way
Thanks for reporting this

[2018-03-11 09:15] yakky commented on #435
@kynsi could you test the linked PR?
I'll be also adding explicit lxml dependency in #436

[2018-03-11 11:59] kynsi commented on #435
Tested and works! Thanks!

[2018-03-11 12:36] yakky commented on #435
@kynsi awesome. 0.9.3 is going to be released soon, then

[2018-03-12 06:57] yakky commented on #435
@kynsi aldryn-apphooks-config 0.4.0rc1 has been released

[2018-03-12 07:03] yakky commented on #435
Fixed by #437

[2018-03-12 07:03] #435 closed

[2018-03-12 07:04] yakky commented on #408
@bbirand can you test aldryn-apphooks-config 0.4.0rc1? That should fix this problem

[2018-03-12 08:37] vutrongvu opened #439 "Cannot create new blog article"
When I create new blog article, Django cms have a error:
Django.template.loaders.filesystem.Loader: /app/microsoft_startups/templates/sortedm2m/sorted_checkbox_select_multiple_widget.html (Source does not exist)

infomation version:
Djnago: 1.10.1
Django-cms: 3.5+
Django-cms-blog: 0.9.2

[2018-03-12 08:47] yakky commented on #439
Is sortedm2m into INSTALLED_APPS? Apparently there is an issue in building the docs, and they are outdated on readthedocs

[2018-03-12 10:51] yakky commented on #439
@vutrongvu documentation updated http://djangocms-blog.readthedocs.io/en/release-0.9.x/installation.html

[2018-03-12 10:51] yakky commented on #439
Thanks for reporting

[2018-03-12 10:51] #439 closed

[2018-03-21 07:07] wfehr opened #441 "(migration) error when upgrading from 0.8.13 to 0.9.x"
I am currently using djangocms-blog version 0.8.13 and wanted to upgrade it to a 0.9.x version.
The problem is that the migration I am depending on isn't existing in version 0.9.x.
Specific:
- v0.8.13 -> 0022_auto_20170304_1040.py
- v0.9.x -> 0022_auto_20160605_2305.py
(as I just saw: 0.8.13 is not available in github, but in pypi. Nevertheless the wrong migration is also available in 0.8.12)

I t

[2018-03-21 18:29] yakky commented on #441
Thanks @wfehr for reporting this. Indeed, a migration from 0.8 branch has not been ported to 0.9 :man_facepalming:
We will release a 0.9 version that integrate this. Would you be willing to test a PR that fixes this?

[2018-03-21 18:39] yakky commented on #441
@wfehr could you test the linked PR? (0.8.13 was pushed on release but apparently not the tag, only the tip of `release/0.8.x` branch. This is now fixed, thanks again)

[2018-03-22 15:08] wfehr commented on #441
updated the issue description because the second error with "post_related" was my fault, I didn't reset the database correctly.

At the moment I am still getting an error when migrating djangocms_blog:

I deleted the data in 'djangocms_blog_post_translation' but still got the same error.

[2018-03-22 15:50] wfehr commented on #441
Yep, these are problems of mine. Needed to add "sortedm2m" to INSTALLED_APPS and change my template for the menu.

Looks good, thanks @yakky for the work :+1:

[2018-03-24 09:42] #441 closed

[2018-03-24 09:42] yakky commented on #441
@wfehr thanks for checking! A new release is on the way

[2018-03-29 20:30] yakky opened #444 "Add support for a subtitle"
Sometimes a subtitle is needed and a full abstract is a bit of a stretch

[2018-03-29 20:31] yakky commented on #444
@protoroto can you take care of this?

[2018-04-03 12:56] stefanw opened #445 "Referenced jQuery path doesn't exist in Django 1.9+"
The path `admin/js/jquery.js` referenced [in the CMS wizard](https://github.com/nephila/djangocms-blog/blob/7c31fc364d924b64824b28f6d0b2a1640b2e4982/djangocms_blog/cms_wizards.py#L49) doesn't exist anymore since Django 1.9 (and Django 1.8 is officially EOL since 1st of April 2018). This leads to a 404 (or a 500 when using ManifestStaticFileStorage).

The path in Django 1.9+ is `admin/js/vendor/jqu

[2018-04-03 14:01] yakky commented on #445
For for reporting this. I think we should still rely on django own jquery, to avoid shipping multiple copies of jquery in a single project.
Setting the path according to the detected Django version is the best fix.

[2018-04-03 14:16] petrklus opened #446 "HTMLField CKeditor settings"
Hello!

Is there any way to provide CKEditor settings to the HTML field for abstract?

[2018-04-03 14:46] yakky commented on #446
It needs a small PR (see https://github.com/divio/djangocms-text-ckeditor/#customizing-htmlfield-editor for reference)
I will happily review a PR to add this

[2018-04-03 14:55] petrklus commented on #446
ok @yakky - before I fork and create this as an option, is there any preference on how to initialise variables that are not found in settings?

Then I would imagine it would just go here: https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/models.py#L230

[2018-04-03 16:18] yakky commented on #446
@petrklus exactly. You don't need to provide defaults. It will fallback to the default one if a setting with the given name is not found. I'd call the setting something like `BLOG_ABSTRACT_CKEDITOR`. Maybe we can add this to the `post_text` field?
As for documentation, just a brief note in the global setting pointing to the djangocms-text-ckeditor documentation is fine, I think

[2018-04-04 16:12] petrklus commented on #446
@yakky done at https://github.com/nephila/djangocms-blog/pull/448 - let me know your thoughts!

[2018-04-06 13:59] petrklus commented on #446
Updated as requested @yakky https://github.com/nephila/djangocms-blog/pull/448

[2018-04-07 07:50] yakky commented on #446
Fixed by #449

[2018-04-07 07:50] #446 closed

[2018-04-07 07:59] yakky commented on #445
Thanks @stefanw  for reporting this
Fixed by #447
It will be released in the next 0.9 release

[2018-04-07 07:59] #445 closed

[2018-04-13 15:11] yakky commented on #444
Fixed by #452

[2018-04-13 15:11] #444 closed

[2018-04-28 20:26] dismine opened #453 "Posts list is empty."
Hi,

Sorry for newbie question, i am new to django cms, but i cannot properly configure a blog. I have two posts, i see them in menu. But blog home page and category page show me only "No article found.". Where is my mistake.

[2018-04-29 13:45] dismine commented on #453
Because autodiscovery of url for apphook doesn't work in my case i define it manually like this:
`url(r'^blog/', include('djangocms_blog.urls')),`
This makes almost all work except of the posts list.

Tracing the issue lead me to `class BaseBlogView`, checking queryset result show that it is empty.

[code]

This is happening because namespace member is also empty. Switching code to

[code]
Resolve

[2018-04-30 15:53] jedie commented on #431
get a 404

[2018-04-30 15:55] wfehr commented on #431
Created the gist new, made a little mistake, should work now.

[2018-04-30 15:58] jedie commented on #431
Think all deprecated cmsplugin should include the "own" migration!

[2018-04-30 16:34] yakky commented on #431
FYI: djangocms-blog included cmsplugin-filer only for the purpose of thumbnail option. The migration from cmspluginfiler-image `ThumbnailOption` to filer `ThumbnailOption` has been completed in the 0.8.x version. We kept cmsplugin-filer-image dependency in 0.9 to ease the migration from early 0.8.x version directly to 0.9 (basically to keep the migrations historical models consistent)
In 1.0 will

[2018-05-05 10:05] yakky commented on #431
Linked PR drops cmsplugin-filer, documentation is updated to document the migration path

[2018-05-05 10:10] yakky commented on #453
Sorry, I thought I have answered before to this
djangocms-blog is only supported when attaching it using apphooks
There are too many things that can go wrong otherwise
What's the problem with using apphooks?

[2018-05-05 10:12] yakky commented on #399
@mikesdnielsen did you successfully managed to migrate your dat?

[2018-05-05 10:13] yakky commented on #307
@jedie it's this still the case?

[2018-05-05 10:14] dismine commented on #453
Maybe you could help me, because in my case none of applications work with apphook fully. I mean i always forced to put a url manually.

[2018-05-05 10:28] yakky commented on #453
@dismine what's the issue with apphooks exactly? does the runserver starts?
What are the django CMS / Django / aldryn-apphooks-config versions?

[2018-05-05 10:39] dismine commented on #453
@yakky thank you for your patience! I just have rechecked and all magically now fully work without need for manually defining urls or removing the namespace. I close this issue for now.

[2018-05-05 10:39] #453 closed

[2018-05-05 10:43] yakky commented on #453
@dismine :tada: Great!
Feel free to add further comments if you encounter further issues

[2018-05-05 10:46] dismine commented on #453
Can i use this place for dumb newbie questions too? :)

[2018-05-05 10:48] yakky commented on #453
Use our gitter chat https://gitter.im/nephila/applications for questions :)

[2018-05-07 08:43] mikesdnielsen commented on #399
@yakky Yes, I managed to get this done in the end. The main issue was dumping everything together and that seemed to mess up. Dumping conttenttypes by itself and then the rest of the data actually worked without any changes :-)

[2018-05-07 08:43] #399 closed

[2018-05-08 13:14] yakky commented on #399
@mikesdnielsen awesome, thanks for the update! :tada:

[2018-06-01 14:23] electroniceagle opened #457 "Plugins fail with TemplateDoesNotExist when using template_prefix."
If a template_prefix has been set in the blog app_config, any
plugin will cause a TemplateDoesNotExist exception unless the
entire template directory is copied. You will see:

Exception Type: TemplateDoesNotExist at /about/jobs/
Exception Value: djangocms_blog/jobs/plugins/latest_entries.html

This commit refactors get_rendor_template in BlogPlugin to use the
django loader select_template method t

[2018-06-18 02:13] Dean-Christian-Armada commented on #75
Guys, I would suggest to do an example of apphook configuration in documentation especially for the very newbies

[2018-06-18 15:34] yakky opened #458 "Document how to attach a djangocms-blog apphook"
Add some documentation and link the django CMS docs for more indepth information

[2018-06-18 15:34] yakky commented on #75
@Dean-Christian-Armada opened as #458

[2018-06-26 09:36] danra opened #459 "Pre-generate thumbnails to improve performance"
Currently, thumbnails are generated at run-time as needed using the `thumbnail` tag. Each time this tag is used, first the app must check if the thumbnail already exists on the media storage, and if not, generate it. When the media storage is remote such as on S3, this can take a lot of time.

It would be much more efficient to instead use the `thumbnail_url` tag which assumes the thumbnail alread

[2018-07-16 18:56] whyronimus opened #460 "How to add "related posts" to template?"
I have several posts which are related to each other, but I can't figure out how to actually display them. I'd like to let them show up beyond the blog post content, something like "you may find this interesting" and a list of the related posts. Is that possible or does it me require to write an extra plugin?

[2018-07-16 19:04] whyronimus commented on #460
Never mind, found solution here. https://github.com/nephila/djangocms-blog/pull/360#issuecomment-359182127 (sorry, first post)

[2018-08-05 07:58] danra commented on #459
It looks like I was wrong - for non-local storage, both the source and thumbnail generation time are queried in the database instead of querying the modification time of the file in the storage. (I'm still seeing this taking a significant time on page load with just a few thumbnails, but it's probably not due to remote storage access.)

[2018-08-05 07:59] #459 closed

[2018-08-24 16:31] fsbraun opened #461 "request.build_absolute_uri returns "http" URI despite https request for Posts"
I use django's ``request.build_absolute_uri``to add, e.g., the canonical URL to a page's head. That seems to work fine except for Post detail pages where I get a "http" URL.

Other pages of djangocms-blog are not affected.

Thanks for any thoughts!

[2018-08-25 06:03] fsbraun commented on #461
Sorry for wasting your time. I found the issue: Just an embarrassing template inheritance on my side.

[2018-08-25 06:03] #461 closed

[2018-09-03 10:43] mammuth opened #462 "Exception when creating posts with multiple app configs"
I've stumbled upon an issue when creating posts.

When creating a post via admin or the corresponding menu link, I get an error after choosing the wished config (from two created ones) and submitting the form:
[code]

When debugging the code, I stumbled upon those findings:
https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/admin.py#L310
[code]

So why `_app_config_select(reques

[2018-09-21 08:46] fsbraun opened #464 "Video blog with djangocms-blog?"
I would like to add my video blog to my site using djangocms-blog. I imagine having the ability to add a YouTube link to the blog entry and automatically create links for the preview (e.g., if no blog image is selected).

Any thoughts on this? Alternative solutions?

Could potentially contribute to implement this.

[2018-09-27 12:11] wfehr opened #465 "AttributeError: 'NoneType' object has no attribute 'safe_translation_getter'"
When **creating a post without any categories** applied (or existent) I am getting an AttributeError:
`'NoneType' object has no attribute 'safe_translation_getter'`

End of trace:

Are you able to recreate this?

**Edit**:
Environment:
- django==1.11.12
- django-cms==3.5.2
- djangocms-blog==0.9.5

[2018-09-27 12:38] wfehr commented on #465
Also tested it with djangocms-blog==0.9.7, same problem (just to be sure it isn't fixed with the last release).

[2018-10-16 08:32] flevour commented on #297
@yakky is this still applicable?

[2018-10-16 21:20] petrklus opened #466 "Unable to re-use a slug in a different app config"
Steps to reproduce:
1. Create two separate app configs in the system
2. Add post with a slug "test" in the app config 1
3. Add post with a slug "test" in the app config 2

An error message is then shown, which means there are two issues - first of all, the system does not allow the same slug to be re-used, also, the error message is shown twice:

![image](https://user-images.githubusercontent.com/

[2018-10-17 10:25] petrklus opened #467 ""View on site" in django admin does not take into account absence of translation"
Scenario:
- Admin language in EN
- Available languages are EN, DE
- Post is created with DE translation ONLY

In the scenario above, the "View on site" URL links to a 404 page. The reason for this is that Post's get_absolute_url does not check for current language (which is what the `reverse` function does).

See below for a monkey-patch fix:

[code]

[2018-10-17 12:11] davideferre commented on #297
Tried to solving it in pull request #468

[2018-10-18 10:17] petrklus commented on #466
@yakky any tips on the above, is that expected behaviour? I would understand the inability to re-use slugs, the double-error message should be there though.

[2018-10-18 12:55] dhelbegor opened #469 "TemplateSyntaxError"
I imported the djangocms_blog urls and get this error, can someone help me with it please?

# settings.py INSTALED_APPS
    'filer',
    'easy_thumbnails',
    'aldryn_apphooks_config',
    'cmsplugin_filer_image',
    'parler',
    'taggit',
    'taggit_autosuggest',
    'meta',
    'menus',
    'cms',
    'treebeard',
    'sortedm2m',
    'djangocms_blog',

# urls.py
urlpatterns = [
    url(r'^a

[2018-10-27 13:35] #469 closed

[2018-11-10 10:49] yakky commented on #297
@flevour yes, still applicable.
#468 fix this. it needs minor changes before merging but that's the solution

[2018-11-10 11:44] yakky commented on #462
@mammuth it's a bug in `aldryn-apphooks-config` preveting the apphooks config selection to work properly
I should be able to push a fix there soon

[2018-11-10 11:51] yakky commented on #460
Thanks for pointing out that no doc /examples exist for this
Fixing with #471

[2018-11-10 11:55] yakky commented on #464
@fsbraun how about using a standard djangocms-video plugin for this?
It might strech the blog purposes a bit too much, but I'm open to discuss ideas

[2018-11-10 11:56] mammuth commented on #462
Thanks for digging into this @yakky! I'm looking forward to the fix.

[2018-11-10 11:57] yakky commented on #462
I opened the PR, hopefully we will be able to be merged soon

[2018-11-10 12:00] yakky commented on #465
@wfehr is this related to #297 ? what's the "Permalink structure:" of the apphook config?

[2018-11-10 12:06] yakky commented on #466
@petrklus yes, the uniqueness is on purpose (enforced here https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/models.py#L97)
It's been set before apphooks config were born and there is no sane way to enforce uniqueness between untranslated and translated fields
I agree that the double error message is wrong, looking into it

[2018-11-10 12:07] yakky commented on #467
@petrklus thanks for spotting it! would be able to contribute the fix as PR?
In case, please open against `release/0.9` branch

Thanks!

[2018-11-10 12:08] yakky commented on #461
@fsbraun no worries :)
And thanks for reporting the fix!

[2018-11-10 12:13] yakky commented on #459
@danra djangocms-blog uses `easy_thumbnails` for thumbnail generation, which caches the thumbnails status in the database and support async thumnails generation. If it's your use case, you can change the template to reflex this and have a look at `east_thumbnails` async pregeneration https://easy-thumbnails.readthedocs.io/en/stable/usage/#asynchronous-pregeneration

[2018-11-10 12:15] #431 closed

[2018-11-10 13:03] yakky commented on #466
@petrklus it's actually a parler issue, as it runs both the custom uniqueness validation and the django one
I will push a temporary fix here, and will work on a more comprehensive solution on parler

[2018-11-10 13:19] yakky commented on #460
I hope the upgraded documentation will help future needs
Thanks for reporting this

[2018-11-10 13:19] #460 closed

[2018-11-10 15:06] fsbraun commented on #464
@yakky Thank's for discussing! I am thinking of a way to then include a video still as image for the blog entry, potentially having the capability to start the video from the blog post list/lightbox above the blog post list.

Using a video plugin would require to check the blog content for such a plugin (and potentially there are more than one). My thinking is to include a video url just like the

[2018-11-10 15:31] yakky commented on #464
@fsbraun how about a generic "linked content URL"? The template will then be able to handle in any way: it can be a video URL for a video blog, an audio streaming for a podcast or whatever
My concern here is to add very specific use cases to a generic applications

[2018-11-10 15:33] fsbraun commented on #464
@yakky I like the idea (and also understand the concern)! Linked content URL could also be an image ... Will be happy to give it a shot!

[2018-11-10 15:34] yakky commented on #464
@fsbraun awesome :smiley:

[2018-11-10 15:43] yakky commented on #466
@petrklus you have give a try to PR #472 for the quickfix, if you want to doublecheck

[2018-11-12 12:57] wfehr commented on #465
@yakky the structure is 'category', so yes, I think the mentioned issue is the problem of this one.

[2018-12-19 09:18] SandPipper opened #474 "Attaching posts to root url without /blog/"
Is there way to do this?

[2019-01-11 07:11] yakky commented on #474
Hi @SandPipper , yes this is totally doable.
Have a look at the documentation here https://djangocms-blog.readthedocs.io/en/latest/features.html#attaching-blog-to-the-home-page
It should provide all the information needed for the setup

[2019-02-05 08:48] ceelian opened #476 "support for django-cms 3.6 with django 2.1"
Is djangocms-blog compatible with django-cms version 3.6 and django 2.1?

Regarding the docs (https://djangocms-blog.readthedocs.io/en/latest/) djangocms-blog supports django-cms version 3.4+ but also only django 1.1.

We want to use django-cms with django 2.1, is this possible right now or are there any changes to be made to djangocms-blog to be compatible with django 2.1.

Thank you!

[2019-02-20 08:13] fsbraun commented on #476
It seems that the required compatibility changes habe been made in Pull Request #475. @yakky is there a timeline for releasing these changes?

[2019-03-05 07:15] yakky commented on #476
@ceelian @fsbraun sorry I've been very late at this
I will release 1.0 with django 2.1/django CMS 3.6 within this week
In the meantime I will release 1.0beta1 as per current develop as soon as #479 is merged

[2019-03-05 17:50] yakky commented on #476
1.0b1 is out
Thanks for your patience

[2019-03-05 17:50] #476 closed

[2019-03-05 17:57] fsbraun commented on #476
@yakky Thanks for your commitment to this project. We appreciate it!

[2019-03-05 19:09] ceelian commented on #476
@yakky Thanks a lot!

[2019-03-05 20:29] yakky commented on #297
Fixed by #480 which will be released in 0.9.10
Thanks you all for reporting this

[2019-03-05 20:29] #297 closed

[2019-03-05 20:29] yakky commented on #465
Fixed by #480 which will be released in 0.9.10
Thanks you all for reporting this

[2019-03-05 20:29] #465 closed

[2019-03-16 01:57] kiwiheretic opened #483 "'CMSToolbar' object has no attribute 'edit_mode'"
I am running Kubuntu 18.04 and have install fresh copy of Django CMS, install this blogging app and have run migrate.

My pip freeze is as follows:

(djangocms) djangocms $ pip freeze
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
ald

[2019-03-16 09:11] yakky commented on #483
@kiwiheretic thanks for reporting this.
djangocms-blog < 1.0 supports up to django CMS 3.5.x
django CMS 3.6 support is provided by djangocms-blog 1.0b1 which is available on PyPi (`pip install djangocms-blog==1.0b1`), we hope to release a stable version soon!

[2019-04-29 16:06] andlouro opened #484 "When updating a blog post cache is not invalidated"
When I change the post content changes are visible on the edit mode but not updated on the published post.

Versions:
Django==1.11.20
django-cms==3.6.0
djangocms-blog==1.0.0b1

[2019-05-10 07:54] fsbraun opened #485 "Is there a most-popular posts plugin or similar?"
I am adding a sidebar to my post detail views with a static placeholder field. It would be nice to have a plugin that shows the x most popular posts.

Does djangocms blog keep track on how often a post ist viewed? What other options are there to automatically offer some other posts (i.e., besides related posts)?

[2019-05-10 08:59] fsbraun opened #486 "Taggit and sortedm2m widgets broken"
I have no idea if this is a problem of my setup. My taggit and sortedm2m widgets in a Post's admin form are broken. It seems that admin forms load jquery after the widget's css. Anyone has a similar experience?

Thanks, Fabian

[2019-05-10 20:16] lggwettmann commented on #258
Oh that would be good to explain or put up some links in the documentation.. I have the same issue and confusion.

[2019-05-11 05:47] fsbraun commented on #258
@lggwettmann Have you checked if you have a placeholder "post_content" if you open structure mode. There you can drop a text plugin (or any other) and add content. See image below.

<img width="1080" alt="Bildschirmfoto 2019-05-11 um 07 43 07" src="https://user-images.githubusercontent.com/16904477/57565594-fb631300-73c0-11e9-88b0-ca082d42f098.png">

Does that clarify?

[2019-05-11 08:56] lggwettmann commented on #258
Hey @fsbraun ,

thanks so much for the fast answer. After a while I figured out it should have something to do with templating and placeholders, but still not how to solve it.

I did not have such a placeholder. I created it myself in my django-cms main template, but all the content/plugins I drop in this placeholder gets shown on all blog pages..?

Also I wondered how to change the base.html-temp

[2019-05-11 14:30] fsbraun commented on #258
@lggwettmann

The djangocms-blog templates live in a template folder named ``djangocms_blog``. The placeholder for the blog detail view lives in ``post_detail.html``. Does your ``djangocms_blog/post_detail.html`` template contain the following lines?

        {% if post.app_config.use_placeholder %}
            <div class="blog-content">{% render_placeholder post.content %}</div>
        {% else %

[2019-05-11 16:48] lggwettmann commented on #258
Thanks for the answer, @fsbraun. I highly appreciate it.

I deleted my custom base.html and did not use any custom templates for djangocms_blog. I configured a base.html (defined in CMS_TEMPLATES) with this content:
[code]
And all content plugins dropped into the post_content placeholder appeared on all blog pages. I deleted the base.html and implemented the above placeholders into my projects mai

[2019-05-12 14:07] fsbraun commented on #258
@lggwettmann Please check the documentation on how the blog templates work: https://djangocms-blog.readthedocs.io/en/latest/features.html#templates

Your ``base.html`` should contain a block called ``content``, e.g.,

    {% load cms_tags sekizai_tags %}
    <html>
        <head>
            <title>{% page_attribute "page_title" %}</title>
            {% render_block "css" %}
        </head>

[2019-05-12 14:19] lggwettmann commented on #258
Oh THAT is the important part? I read through the documentation multiple times, but it's a very confusing one. And then there are placeholders and I thought these are the important ones for Django CMS. So I didn't pay attention to the blocks. My normal layout.html does have a content-block by coincident...

Thanks for your help on that @fsbraun - Super helpful and thanks for your patience with a n

[2019-05-13 14:56] lggwettmann opened #487 "Article title only in one language"
Hey guys,

I can't seem to figure out how to publish the title of an article in different languages. If I go to the German page and change the title, the title is also in German on the English page and vice versa.

Also, only the English-language label is highlighted in the django admin.

Another thing is that I want to show a specific 'register for newsletter' plugin on the blog main site but not

[2019-05-13 21:10] fsbraun commented on #487
For your second question, I would suggest to add a static placeholder to your blog main site (i.e., ``djangocms_blog/post_list.html``). Somewhere in your customized template you might want to try:

    {% static_placeholder "additional_interaction" %}

The name of the placeholder is entirely up to you. It will show up on all overview pages, i.e. the main page, the authors' pages, tags' pages, arch

[2019-05-13 21:17] fsbraun commented on #486
It seems that django admin does load its copy of jquery after taggit_autosuggest and after the sortedm2m widgets. So this seems to be a django admin issue which I frankly haven't figured out. (Might be my misconfiguration or potentially my upgrade to Django 2.1.) Despite the possibility, the issue does not belong here, I'd share the workaround I found. You have to add two files to the project's te

[2019-05-14 09:17] lggwettmann commented on #487
Thanks, @fsbraun. Great to know with the static_placeholders. Any thoughts on the language issue anyone?

[2019-05-14 18:42] lggwettmann commented on #487
After some digging, I found that the form url is wrong in the admin:
<img width="925" alt="Screenshot 2019-05-14 20 41 47" src="https://user-images.githubusercontent.com/4527829/57723357-bc66e300-7688-11e9-9a7e-f68934bdb6d4.png">
How could I fix this or why could this happen?

[2019-05-21 23:38] aksthelion opened #488 "TypeError: __init__() missing 1 required positional argument: 'on_delete'"
Python 3.7.3
django version 2.2.1

I'm getting this error after running
python3 manage.py migrate

TypeError: __init__() missing 1 required positional argument: 'on_delete'

How to fix it?

[2019-05-22 05:15] fsbraun commented on #488
@aksthelion I believe, since django 2.0, the ``on_delete`` parameter for foreign keys is required (whereas in earlier versions the default was ``models.CASCADE``. This makes migrations created in earlier versions of django throw the error on the required argument.

To fix this, add ``on_delete = models.CASCADE`` in all migrations causing the error.

Good luck!

[2019-05-22 17:51] aksthelion commented on #488
It is models.CASCADE. I tried few solutions suggested on stackexchange but none worked.

[2019-05-22 20:58] fsbraun commented on #488
I am not sure if your problem is solved. Did ``on_delete=models.CASCADE`` help?

[2019-05-22 22:39] aksthelion commented on #488
No it didn't solve. I gave up.

[2019-05-23 11:18] antnieszka commented on #488
After adding `on_delete=modelsCASCADE` it throws:

[code]

[2019-05-26 16:11] lggwettmann commented on #487
Is there any progress on a Django CMS 3.6 implementation and/or the above fixes or any help?
Or am I the only one with this problem?

I'm running Django CMS 3.6 and Django CMS blog 1.0b1.

[2019-05-27 06:22] fsbraun commented on #487
Sorry, I have only little experience in multi-language environments. I see the language tabs in my admin forms, however (version 1.0b1). So it seems to be a configuration issue.

I am not sure what the line ``url(r'^', include('django.conf.urls.i18n'))`` does. I also have set

    PARLER_LANGUAGES = {
        1: (
            {'code': 'nl',},
            {'code': 'de',},
            {'code': 'en',

[2019-05-31 14:19] lggwettmann commented on #487
Hey @fsbraun,

I tried adding the parler-languages setting and it solved the problem. Thanks. This is a bug and should be tagged as one as the documentation says that the parler-languages definition is not needed. Or the documentation should be changed.

Kind Regards and thanks for your help.

[2019-06-14 09:28] SteveGZr opened #489 "Configure Cache-Control"
I'm trying to configure caching in djangocms-blog.
I read through the documentation and through the code, but I couldn't find a way to configure it.

In normal django I use the following decorator for a view.

    @method_decorator(cache_control(max_age=settings.CACHE_MIDDLEWARE_SECONDS),`
                      name='dispatch')`
    class ExampleView():

I can't do this as there are no views. Now

[2019-06-18 13:33] SteveGZr commented on #489
Here is a workaround for those trying to setup cache-control without having own Views:

`urls.py:`

Instead of importing directly from `djangocms_blog.views` import from your own `.views`

    from .views import CategoryEntriesView, PostDetailView, PostListView

`views.py:`

Create a `views.py` in which you do something like the following:

    from django.utils.decorators import method_decorator

[2019-06-18 16:29] #486 closed

[2019-06-30 01:07] yakky commented on #488
@aksthelion @antnieszka which version of django CMS blog are you using?

1.0beta1 is compatible with Django 2.0 and up, earlier version are not

[2019-06-30 01:10] yakky commented on #487
@lggwettmann actually documentation states to add `PARLER_LANGUAGES`, what's your `CMS_LANGUAGES` settings?

[2019-06-30 01:11] yakky commented on #485
@fsbraun currenty there is not view counters for blog posts (and thus no plugin)

I have mixed feelings about adding one

[2019-06-30 01:13] yakky commented on #486
I know that django CMS does its trickery do resolve the same issue in plugins

that change in django 2.1 broke a lot of stuff on my side too but I have not came up with a solution cleaner than yours

[2019-06-30 01:16] yakky commented on #489
Probably it's easier to decorate the shipped views by providing a custom urlconf (https://djangocms-blog.readthedocs.io/en/latest/features.html#provide-a-custom-urlconf) and decorating the views there https://docs.djangoproject.com/en/2.2/topics/class-based-views/intro/#decorating-in-urlconf

[2019-06-30 01:16] #489 closed

[2019-06-30 01:32] #474 closed

[2019-06-30 01:33] yakky commented on #462
Fixed by aldryn-apphooks-config==0.5.2, closing this

[2019-06-30 01:33] #462 closed

[2019-06-30 03:10] yakky commented on #484
I advise using djangocms-blog 1.0beta1 on django CMS 3.6, as version 0.9.9 does not support it

That said: the error with ` {% page_attribute 'page_title' %}` looks like a django-cms bug in handling `Page.title_cache` attribute as it's not loaded correctly for the root of an apphooked view

But I can't reproduce the content caching issue. Could you test with djangocms 1.0beta?

[2019-06-30 10:18] antnieszka commented on #488
@yakky it might have been 0.9.9. I just installed latest from pypi at the time. I'll check 1.0beta1 in my spare time, thanks!

[2019-07-11 08:31] andlouro commented on #484
Hello @yakky,

Is it possible to release version 1.0beta to divio so I can test it?

Thanks for taking the time to check this.

[2019-07-12 16:28] yakky commented on #484
1.0beta one is available on pypi (https://pypi.org/project/djangocms-blog/1.0.0b1/)
1.0 final will likely land in the next days anyway, but I am awaiting from some feedback by some early adopters

[2019-07-12 19:25] antnieszka commented on #488
1.0beta1 seems to work fine for me. One thing to get this working was to remove `cmsplugin-filer` as stated somewhere in README

[2019-07-29 19:25] BenMemberg opened #494 "Django-parler 2.0 causes a migration isue."
I upgraded django-parler to version 2.0 and it caused djangocms-blog to require a new migration. Reversing the django-parler version back to 1.9.2 solves this issue.
Here is the auto-generated migration file:
[djangocms-blog_auto_migration.log](https://github.com/nephila/djangocms-blog/files/3443978/djangocms-blog_auto_migration.log)

Operating System: Ubuntu 18.04
Related Package versions: django

[2019-08-01 05:19] yakky commented on #494
thanks for the heads up
I will check this and if any 1.9 / 2.0 compatible solution exists

[2019-08-02 06:03] tehfink opened #495 "Deleting auto-generated cms_appconfig breaks site: BlogConfig matching query does not exist."
On a fresh install of:
- django-cms==3.6.0
- Django==1.11.22
- djangocms-blog==1.0.0b1 ([search] & [taggit])

Steps to reproduce:
- After installing djangocms-blog, run migrations
- Create a new page, and there also a new BlogConfig with custom values, attaching the app as an apphook
- Delete the existing default BlogConfig, so that users don't have to choose a config when creating a new Blog entr

[2019-08-02 06:44] yakky commented on #495
Have you deleted the auto created blog page?

[2019-08-02 07:07] tehfink commented on #495
Thanks for the reply. Yes, I had deleted the auto-created blog page.

The rabbit hole continues: I disabled the apphook on the new "News" page, in an attempt to troubleshoot, then republished the page. This allows the other pages to load. However, now the Blog app section does not appear in the admin, nor is it available as an apphook.
This error appears on restart of the dev server: `…site-packag

[2019-08-02 08:27] yakky commented on #495
@tehfink can you try clearing the django cache? It might be the django cms menu cache which still tries to render the old page in the menu

[2019-08-03 15:47] tehfink commented on #495
I ran in the django shell:
[code]
and: `find . | grep -E "(__pycache__|\.pyc|\.pyo$)" | xargs rm -rf` in the virtualenv.

Unfortunately it gave the same result: `No registered apphook "'BlogApp'" found`, and the app does not appear in the Django admin.

How could I troubleshoot?

[2019-08-04 00:44] yakky commented on #494
Fixed by #496
I will release 0.9.11 soon

[2019-08-04 00:50] yakky commented on #495
@tehfink can you try running:

[code]

I have opened #497 which should fix the issue on from now on

[2019-08-04 00:51] yakky commented on #488
@antnieszka thanks for the feedback :+1:
I am closing this

[2019-08-04 00:51] #488 closed

[2019-08-04 12:13] tehfink commented on #495
@yakky Thanks for the help. Unfortunately running that command hasn't helped: the error is the same as above, the app does not appear in the Django admin.

Could I delete this reference manually?

[2019-08-04 22:15] yakky commented on #495
@tehfink
the current database status is that you have 1 non default `BlogConfig` instance, with its categories and posts, but it's not attached to a page, and the blog admin does not appear anymore right?
1) what's the result of `select * from cms_page where application_urls='BlogApp';`?
2) what's the result of `select * from djangocms_blog_blogconfig`?
3) could you post the full updated traceback

[2019-08-05 19:08] tehfink commented on #495
@yakky Thanks very much for the help!

Correct. And even if I wanted to attach the blog app to a page, it no longer appeared in the page's apphook dropdown menu.

[code]

Unfortunately (for debugging), no traceback was displayed anymore. The only message shown was during startup of the development server or console:
[code]

Based on the sql result above, I found and deleted page 131, cleared the m

[2019-08-05 19:08] #495 closed

[2019-08-06 05:29] yakky commented on #495
@tehfink awesome, thanks for the update. I will release 0.9.11 with the automatic menu cache purge on `BlogConfig` delete, which I think could have prevented your issue completely. thanks for the debugging and the information :+1:

[2019-08-06 05:47] yakky commented on #494
@BenMemberg added the extra migration for djangocms-blog 1.0

[2019-08-06 05:48] yakky commented on #483
Closing this as fixed in develop / 1.0b1

Thanks for the report

[2019-08-06 05:48] #483 closed

[2019-08-06 07:12] #494 closed

[2019-10-08 12:19] marcingarbarczykapz opened #514 "No module named 'django.core.urlresolvers'"
I have problem with install your app.
Error 1:

  File "C:\Users\Marcin\Envs\djangocmsdev\lib\site-packages\cmsplugin_filer_image\models.py", line 50, in FilerImage
    help_text=_('overrides width, height, crop and upscale with values from the selected thumbnail option'))
TypeError: __init__() missing 1 required positional argument: 'on_delete'

After remove 'cmsplugin_filer_image' from installed

[2019-10-08 13:47] pinksharpii commented on #514
I had this issue last night. I forced pip install version 1.0.0rc1 (the most current in github). It's a beta release but it's functional.

[2019-10-08 13:50] pinksharpii opened #515 "AttributeError at /admin/djangocms_blog/post/add/ 'NoneType' object has no attribute 'namespace'"
This comes from trying to create a new Post. I have a Config setup and a CMS Page with that Config assigned as the App.

` File "/Users/kayla/dev/client/rebuild/venv/lib/python3.7/site-packages/djangocms_blog/admin.py", line 338, in get_fieldsets
    if related and Post.objects.namespace(config.namespace).active_translations().exists():
AttributeError: 'NoneType' object has no attribute 'namespace

[2019-10-08 16:29] pinksharpii commented on #515
I got around this by explicitly setting BLOG_USE_RELATED = False in my settings.py even though my Blog Config already had Related Posts unchecked.

[2019-10-09 10:22] marcingarbarczykapz commented on #514
@pinksharpii thank you for answer, but now I have another problem.

When I removed line

Page works. I tried clear cache menu, restart server.

[2019-10-12 17:13] yakky commented on #515
@pinksharpii I can't reproduce the original issue.

Apparently it can't load the current configuration, but it should be explicitly asked when creating a new blog post, do you get a selection step like the one below when creating a new post?

![image](https://user-images.githubusercontent.com/714711/66705225-4db7af80-ed24-11e9-9779-ea77f25a97b8.png)

The blog post admin URL should be something lik

[2019-10-12 17:13] yakky commented on #515
reopening as it's a legitimate issue

[2019-10-12 17:50] yakky commented on #514
@marcingarbarczykapz
Apparently taggit-autosuggest views are not added to the global urlconf
Have you checked with the installation steps https://djangocms-blog.readthedocs.io/en/latest/installation.html#minimal-configuration ?

Some automatic initializations are done when first installing djangocms-blog and if they fails for whatever reason (like django version issues) the state might be inconsis

[2019-10-14 07:10] #514 closed

[2019-10-16 14:57] whyronimus commented on #464
Is this feature available yet? It would be a "very nice to have".

[2019-10-22 07:38] marcingarbarczykapz opened #516 "Add new langauge to my blog"
Sorry for this basic question. I recently created a translation in my language for the blog (https://transifex.com). Can I use it by adding them to my project or do I have to wait for merge to master?

[2019-10-22 08:17] yakky commented on #516
@marcingarbarczykapz first of all, thanks for the contribution!
I'm not sure you can pull those locally, but I can easily merge this in the repo

(actually it's to cut 1.0 release)

[2019-10-22 08:19] marcingarbarczykapz commented on #516
Would be nice mate

[2019-10-22 08:19] #516 closed

[2019-11-04 19:15] artforlife opened #518 "Project Appears to Rely on Now-Defunct and Unsupported Libraries"
In particular, I have just tried to do a manual installation of DjangoCMS and DjangoCMS-Blog. The first part succeeded. However, the second part seems to run into some issues with `'cmsplugin_filer_image'`

The plugins are no longer supported.
https://github.com/divio/cmsplugin-filer

My dependencies are as follows:

[code]

When installed via djangocms-installer, the project seems to work. Howeve

[2019-11-04 20:31] yakky commented on #518
@artforlife djangocms-blog 0.9 install cmsplugin-filer only to allow upgrading from previous versions  (0.8.x) which used it, and it does not use anymore at runtime

djangocms-blog 1.0 is anyway in release which will drop the dependency entirely

[2019-11-04 20:41] yakky commented on #518
@artforlife 1.0.0 has been released (https://pypi.org/project/djangocms-blog/1.0.0/) :tada:

[2019-11-04 20:42] yakky commented on #464
Fixed by #490

[2019-11-04 20:42] #464 closed

[2019-11-04 21:45] artforlife commented on #518
@yakky Thanks for your prompt response! I shall check it out again, based on your input.

Could you tell me if there is a place where I can see how djangocms-blog compares to the Aldryn NewsBlog? Perhaps there is a tutorial that builds out a blog or something similar to that.

I am currently using Aldryn NewsBlog for a project. However, since they have stopped the support, I need to make a decisio

[2019-11-04 21:50] yakky commented on #518
Actually I was not aware of the discontinued support for aldryn-newsblog
I will look into an upgrade path. It shouldn't be too hard as they both share the same foundation logic.
Django CMS blog has been more focused on SEO flexibility, while aldryn-newsblog was more integrated with aldryn application family and its way to handle templates packages

[2019-11-04 22:08] artforlife commented on #518
@yakky Sounds good. Please let me know what you find out. In the meantime, is there a live demo or tutorial for DjangoCMS-Blog?

[2019-11-04 22:15] yakky commented on #518
I did not have time to prepare a demo, but I think I should :)

[2019-11-05 02:15] artforlife commented on #518
That would be quite useful. Perhaps a tutorial illustrating how to build out a basic blog, similar to the one here:

http://support.divio.com/en/collections/2008550-archive#legacy-guide-how-to-build-a-website-and-blog-with-django-cms

[2019-11-07 08:05] yakky opened #520 "Prepare a live"
Setup a blog live demo somewhere

The issue is mostly with automating the periodic delete / restore of the database

[2019-11-07 08:08] yakky opened #521 "Write a high level setup tutorial"
While the setup is documented there is room for a more step-by-step tutorial on django CMS + Blog setup

It can be in the form of djangocms-installer + djangocms blog tutorial

[2019-11-07 08:09] yakky commented on #518
I'll open a separate issue.
IDK when I will have some bandwidth for it, but I agree it would definitely help

I opened #521 to track this, thanks for the suggestion

Closing this issue as fixed by 1.0 release

[2019-11-07 08:09] #518 closed

[2019-11-09 01:23] swallace21 opened #522 "Error v1.0.0: cannot import name 'python_2_unicode_compatible' from 'filer.utils.compatibility'"
Error:
ImportError: cannot import name 'python_2_unicode_compatible' from 'filer.utils.compatibility'

The file that is calling it is from cmsplugin_filer_image/models
I added 'cmsplugin_filer_image' to INSTALLED_APPS per install instructions:
https://djangocms-blog.readthedocs.io/en/latest/installation.html
Looks like the cmsplugin_filer is deprecated: https://github.com/divio/cmsplugin-filer

Th

[2019-11-09 15:42] KnotaiG commented on #518
You did close this issue but in your current install document you have cmsplugin_filer_image in the INSTALLED_APPS list.

[2019-11-09 19:13] yakky commented on #522
@swallace21 thanks! Opened a pull request to fix installation docs

[2019-11-09 19:14] yakky commented on #518
@KnotaiG I opened #523 to fix this

[2019-11-09 20:47] #522 closed

[2019-11-22 14:31] AtulCIS opened #524 "Blog content is missing."
Hi I have setup the django cms blog. I have created the blog post. The content is proper in my listing page but blog details page does not having any content. Pleas help on this.
I have found that we can add it on text from front end. I can create a blog post from front end but edit buttons is disabled on all posts.
I have tried BLOG_USE_PLACEHOLDER=False setting to enable text in admin end for po

[2019-11-25 01:11] artforlife commented on #518
Also, I think it is safe to assume that `aldryn_search` is going away as well. I have been trying to get it working with Django==2.1.7, CMS==3.7 to no avail. It currently does not support Django==2.x from my understanding.

[2019-12-04 09:03] yakky commented on #518
I will check with the divio people what's their plan with `aldryn_search`. As there is no replacement for it, it would be a bummer if they plan to sunset it

[2019-12-04 09:08] yakky commented on #524
@AtulCIS djangocms-blog primary content editing is using django CMS plugins via frontend editor.
If I understand correctly this is working, right? In case you need further information regarding how django CMS works, you can refer to their documentation (https://django-cms.readthedocs.io/en/latest/introduction/index.html and https://django-cms.readthedocs.io/en/latest/user/index.html )
By default t

[2019-12-16 19:43] pdbethke commented on #515
I just encountered this same issue - is the short term fix adding the BLOG_USE_RELATED = False setting?

[2019-12-17 22:57] yakky commented on #515
@pdbethke what's the `PARLER_LANGUAGES` configuration? I suspect that some apphook config instances are not translated in your case
Could you report versions of
- Django
- django-appdata
- aldryn-apphooks-config

we can easily add a check on `config` on the reported line, but I'd rather understand the root issue which cause `config` to be `None`

[2019-12-22 13:14] ionyshch opened #532 "BlogConfig matching query does not exist"
Ubuntu 18-04 in WSL (Windows 10 Pro)
Following manual instructions from [here](https://github.com/nephila/djangocms-blog/blob/develop/docs/installation.rst)

I missed publish web page step.

After stopping and starting server with `python manage.py runserver`
have non-working app.

[2019-12-22 13:41] yakky commented on #532
@ionyshch on which page you added the blog apphook?

[2019-12-22 15:34] ionyshch commented on #532
I created a new page titled “blog” and in advanced settings added blog application

[2019-12-22 16:01] yakky commented on #532
@ionyshch so you have something like this, right? Have you published the CMS page after adding the blog apphook?

![image](https://user-images.githubusercontent.com/714711/71324236-ac479980-24dc-11ea-8510-95af5129c1b4.png)

[2019-12-23 07:56] ionyshch commented on #532
I'm not sure about "Attached menu" and if I entered anything there.
Now I can't check as app is broken.

[2019-12-24 18:00] yakky commented on #532
@ionyshch could you check by removing the apphook and adding it back again?

Run `python manage.py cms uninstall apphooks BlogApp` and add it again to check if it works

[2019-12-26 15:01] ionyshch commented on #532
Thanks @yakky
I removed apphook with command provided. Then published blog page and added blog application to it and chose "Blog menu" - both in advanced page settings. Now it fails with the same error and removing apphook doesn't help.

[2019-12-27 09:19] yakky commented on #532
@ionyshch would you jump into gitter (https://gitter.im/nephila/applications) later?
anyway you can run these two queries on the database to make a low level check:

[code]

You should get something like

[code]

Have you created the blog configuration yourself or it's been autocreated by djangocms blog at startup?

[2019-12-27 12:18] ionyshch commented on #532
@yakky my initial expectations that miserably failed were that using django cms and plugins for it is user friendly i.e. it will just work. Reality turned out to include dozens of manual steps about that I'm not sure what I did what didn't e.g. what "create blog configuration" means.

I'm still don't know how to use autocreate feature: what are preconditions and how do I know it worked or didn't w

[2019-12-27 16:13] yakky commented on #532
When the project is run with django cms blog installed, it should autoconfigure itself, creating a blog page with the correct apphook and configuration setup
For some reason this does not happen on your setup.
We are working to make installation almost automatic and improve setup documentation (see #521 )
How did you installed django-cms? Have you used djangocms installer (as documented here https

[2019-12-27 17:04] yakky commented on #532
I have writted a basic extension to djangocms installer to install and configure djangocms during the project creation process:

[code]
This is currently untested and undocumented, by any feedback would be invaluable

[2020-01-24 06:35] saikirubamj opened #536 "cannot able to add custom plugin in blog list or post list page"
Hi

cannot able to add custom plugin in blog list or post list page ?

[2020-01-24 07:07] fsbraun commented on #536
@saikirubamj If you can add other plugins this might be a rights issue. Does your user have rights to add/edit/delete your custom plugin?

[2020-01-24 08:02] saikirubamj commented on #536
@fsbraun
I am working on admin user. So no right issue I think. I cannot able to add any plugins except than static placeholder

![image](https://user-images.githubusercontent.com/48011458/73053462-d3afce80-3ead-11ea-8333-b5eafc68555a.png)

[2020-01-26 16:07] CWeasel commented on #532
Hey Yakky,

Seeing the silence on the above matter, I think the previous guy left the project.
However, i have the same issue as described above.
Unlike the advice you gave him, I commented out the menu tag and changed the "attached menu" to "Blog Menu".
From that point I attached the menu in my master template once more and it displayed correctly.

I do however have an issue with a new thing...
A

[2020-01-26 18:09] fsbraun commented on #536
@saikirubamj Do you have ``BLOG_USE_PLACEHOLDER`` enabled? If yes, do you have customized your templates?

[2020-01-30 09:24] taut-and-yare opened #537 "Installing with djangocms-blog[search] fails for django >= 2"
`pip install djangocms-blog[search]` fails for django >= 2 due to a requirement from aldryn-search (currently v1.0.1) : `Django>=1.8,<2.0`
https://github.com/divio/aldryn-search/blob/1.0.1/setup.py

[2020-02-04 01:04] yakky commented on #536
@saikirubamj for list pages (e.g: anything outside the post detail) you have to customize your templates to include static placeholders.
djangocms-blog default templates does not have any placeholder defined outside the post content page
Anyway, in the screenshot above I see two static placeholder in "closed" state, if you click on them  you will see the usual drag area to add plugins.

[2020-02-04 01:05] yakky commented on #537
@taut-and-yare as aldryn-search  is required to make search work, there is no solution until a django 2 compatible release is issued for aldryn-search. It's one of the reason why it's an optional dependency

[2020-02-04 01:12] yakky commented on #532
@CWeasel thanks for your detailed information. Could you share your settings.py?
What if you set `BLOG_AUTO_SETUP = False`?
I will try to follow the setup instruction with a fresh mind, but I am puzzled by the failure, but I tend to think that autosetup is the culprit
Anyway we are reviewing the setup instruction to catch such errors

[2020-02-04 09:36] taut-and-yare commented on #537
@yakky OK - just one thing I noticed: the `Django<2 `requirement is no longer there on the master branch of [aldryn-search](https://github.com/divio/aldryn-search/blob/master/setup.py). However, there's non tagged version of that on their repo.

[2020-02-04 10:38] CWeasel commented on #532
Hey Yakky,
I would believe the same about the "autosetup".
Below the setting file:

[code]

I'll take a look at the BLOG_AUTO_SETUP = false.

[2020-02-10 15:56] g3rb3n commented on #532
Same problem here with:
Django==2.2.10
django-cms==3.7.1
djangocms-blog==1.0.0

sqlite> select namespace from djangocms_blog_blogconfig;
Blog
sqlite> select distinct application_namespace from cms_page;
blog
Blog

It failed on the template tag show_menu 0 100 0 0.
self.instance.application_namespace on line 51 of cms_menus.py gave 'blog'. Changing it to 'Blog' with `self.instance.application_names

[2020-02-19 05:54] yakky commented on #537
@taut-and-yare yes, they have not released on pypi the current master (which is compatible with django 2+). Until such version does not exist on pypi, we can't do much.
You can try pinging them for a release on https://github.com/divio/aldryn-search/issues/102

[2020-02-19 15:13] agajankush opened #539 "Migration error"
I am trying to install it in my project and its giving me this error on migration:
**"djangocms_blog.0032_auto_20180109_0023"**

django.db.utils.OperationalError: (1071, 'Specified key was too long; max key length is 3072 bytes')

Can you guys suggest a solution

I tried to remove the alter migrations and force the SlugField to be 255
Then it all went through but now I am getting this error while

[2020-02-25 21:44] jasujm commented on #539
I have run into the same issue. With utf8mb4 encoding (the default in recent MySQL versions) the maximum key effectively limits the size of varchar fields to 767 characters. But, because slugs appear in composite indices with language codes (that add further 15 characters to the index), the actual size limit of slug alone is 752.

There is an earlier PR (https://github.com/nephila/djangocms-blog/p

[2020-02-26 14:04] corentinbettiol commented on #518
(for people like me that still get to this issue: `aldryn_search 1.1.0` has been released, and is compatible with `django 2` :))

[2020-03-06 15:00] msmommer opened #541 "What should be in the main page of a djangocms-blog blog?"
Hello,

I installed djangocms-blog (github version with fix by jasujm, as per "migration error" issue), but I am having a lot of trouble understanding how to configure this app properly. (Django version = 2.2.7, django-cms version 3.7.1)

 * The blog page was created and assigned to the blog app, but it used the first template on my templates list, which does not have any blog functionality. So I

[2020-03-14 12:22] jasujm commented on #541
Based on my experience setting up a blog:

The default setup creates a root page "Home" and page "Blog" underneath. The apphook is on the "Blog" page. You can, if you so wish, modify the default behavior and have the blog page be your root (the BLOG_AUTO_SETUP and friends at https://djangocms-blog.readthedocs.io/en/latest/settings.html). You can also have the apphook page at root, and then it will

[2020-03-22 01:01] jsandovalc commented on #532
Hi.
I seem to be having the same problem. I tested all the suggestions here, and nothing seems to work.

@g3rb3n you mean I should change the djangocms-blog code first and set that variable to 'Blog'?.

Thanks for any help.

[2020-03-22 12:32] skrasnikov commented on #467
@petrklus Good patch, but there is an error when it fails in scenario when `<category>` is enabled as posts show default. It is because you have set check for `<slug>` before check for `<category>` but `<category>` also contains `<slug>` word in the urlconf and therefore it is matching to `<slug>` even if `<category>` set which is causing errors.

[2020-03-29 09:38] victor-yunenko commented on #268
Hi @yakky!

I've taken a look at this blog application and was delighted to find a solid blog platform!

My teams works on a lot of django-cms projects and of course one of the most frequent client requests is blog and events applications - which practically look identical from software point of view. But since no known to me maintained blog packages support straightforward extension I have to mai

[2020-03-29 10:31] yakky commented on #268
@victor-yunenko yes, it would be interesting to understand how to implement this in a backward compatible and not confusing way
Feel free to open an issue with ideas to discuss the implementation
You might want to check the django-appdata approach to keep the model thinner and just add whatever is needed via a customized form, which would make extension much easier

[2020-03-29 10:36] yakky commented on #532
Thanks for posting this.
This is definely something in autosetup doing the wrong thing.

I will check how to reproduce and fix this

[2020-03-29 10:44] yakky commented on #541
@jasujm thanks for the very comprehensive answer, better than I could have done myself
I'm open to suggestion on how to clarify documentation to help people trying this app to set it up

[2020-04-02 14:22] victor-yunenko commented on #268
Alright, glad to hear that, I'll let you know once I start working on it 👍

[2020-04-04 18:08] yakky commented on #537
Fixed by aldryn-search release

[2020-04-04 18:08] #537 closed

[2020-04-06 15:44] g3rb3n opened #545 "Error message for duplicate slug causes confusion"
Steps to reproduce.
On blog post create form:
End user enters a title
From the title a slug is derived automatically
User tries to post the form
User receives an error message "Blog article translation with this Language and Slug already exists."

User enters another title
The slug field is not updated
User tries to post the form
User receives same error message "Blog article translation with this

[2020-04-07 21:16] jasujm opened #546 "Inconsistencies in displaying multilingual URLs when fallback languages are enabled"
I'm using djangocms-blog for a bilingual site (English and Finnish). In the site's settings, I have defined that either language can be used as the other's fallback (http://docs.django-cms.org/en/latest/topics/multiple_languages.html). This causes some inconsistent behavior when displaying URLs of posts that only exist in one language in different contexts.

- A post only exists in English and I'm

[2020-04-11 17:52] yakky commented on #546
@jasujm thanks for sharing your findings.
I am writing fro the top of my head (I will do further checks shortly), thus take this with a grain of salt.
The fallback mechanism used here is the parler's one, which should behave basically the same as the django CMS' one, but it's not 100% guaranteed. IIRC parler does not have the "redirect on fallback" options django CMS has (http://docs.django-cms.or

[2020-04-15 13:17] wfehr opened #547 "category-permalink makes incorrect links available"
If you choose category in your permalink-structure you can access post-entries for categories which aren't existing.

Example:
- Post with slug `random-post`
- Category: `foobar`

What I expect:
- post can only be accessed with `mypage/foobar/random-post`

What happens:
- post can also be accessed with `mypage/nonexistent/random-post`

The category in this case doesn't matter as long as the slug f

[2020-04-15 14:34] yakky commented on #547
@wfehr that's correct.
Currently the option to select the different url patterns are purely for semantic reasons
While it might have sense to add filters according to the url patterns, this feature has not been added (yet)

But it's something we can consider to add

[2020-04-19 06:44] pupattan opened #548 "Migration errors"
Getting following error while migrating

ERRORS:
djangocms_blog.LatestPostsPlugin.tags: (fields.E300) Field defines a relation with model 'Tag', which is either not installed, or is abstract.
djangocms_blog.Post.tags: (fields.E300) Field defines a relation with model 'Tag', which is either not installed, or is abstract.

[2020-04-19 06:52] pupattan commented on #548
Issue was with taggit module

[2020-04-19 06:52] #548 closed

[2020-04-20 11:45] #340 closed

[2020-04-20 11:45] #362 closed

[2020-04-29 20:02] tacc-wbomar opened #550 "New 1.0.0 Install, No Meta Tags Rendered (meta is empty)"
# Goal

1. Primarily, only one feature from this plugin:
    - "Twitter cards, Open Graph and Google+ snippets meta tags"
2. Possibly, other features from this plugin.

# Problem

1. The `{% include "meta/meta.html" %}` (in my `base.html`) does not render anything.
2. The `meta` variable is empty. _Tested via:_
    - `{% debug %}` in my site's `base.html` template
    - `{% debug %}` in `/usr/loca

[2020-05-02 19:38] yakky commented on #550
@tacc-wbomar thanks for your report, I will check this soon

[2020-05-02 20:40] yakky commented on #550
@tacc-wbomar have you added the proper django-meta configuration options?
Some were cited explicitly in the blog documentation (https://djangocms-blog.readthedocs.io/en/latest/installation.html#minimal-configuration) but unfortunately others weren't, and this may have confused you
Could you please check if the options documented in #551 solves the issue for you?

[2020-05-04 15:16] tacc-wbomar commented on #550
I was confused by this. I was not sure what to add for the configuration of other repositories, and what would be unnecessary to add.

Here is more of my configuration at the time of the test/report:

**`settings.py`** (existing settings, relevant to `djangocms-blog`)
[code]

**`settings.py`** (test/report settings, added for `django-cms-blog`)
[code]

I will add the [newly documented properties](

[2020-05-04 15:24] yakky commented on #550
I agree :cry:

We want to make that part of the configuration easier to get right.

[2020-05-04 15:36] tacc-wbomar commented on #550
I have added the [few new settings you added to the documentation](https://github.com/nephila/djangocms-blog/pull/551/commits/768b1ae726ca9e711d9674550c18d9b2a6b1f2f0).

[code]

I see so many familiar-ish meta tags, now! Thanks for the quick and accurate response. I believe I have a functional setup, now; which I can propose as a bundle solution to _both_ my team's existing social media problem _a

[2020-05-04 15:41] yakky commented on #550
@tacc-wbomar yay! Hopefully this project will be useful for you and your team :tada:
We'd love to hear feedback from you :)

Thanks for the time spent reporting this issue and checking it

[2020-05-04 19:51] yakky commented on #539
Fixed in #540
Will be released in version 1.1 due soon

[2020-05-04 19:51] #539 closed

[2020-05-04 19:53] yakky commented on #466
Fixed in #472

[2020-05-04 19:53] #466 closed

[2020-05-07 22:21] atlonxp opened #554 "'BlogConfigWithAppDataForm' object has no attribute 'label_suffix'"
I performed a clean installation of django-cms (latest-3.7.2) and later djangocms-blog (1.10). It is weird that the AutoSetup does not perform, so I run it manually.

When I try to add BlogConfig, here is the error I found while rendering template. Tried to check where is BlogConfigWithAppDataForm. It is no where, unfortunately.

Request Method | GET
--|--
Request URL | http://localhost:8000/en/ad

[2020-05-07 23:55] yakky commented on #554
@atlonxp thanks for reporting this
I will check the error and will provide feedback soon

[2020-05-08 00:07] atlonxp commented on #554
@yakky can you please recommend which configuration is best at the moment?

[2020-05-08 09:59] atlonxp commented on #554
I have just tested again. In this time, I have cleared browsing data on browsers e.g. Safari, Chrome, etc.

The AutoSetup runs properly this time. It seems this is Django cache problem that is not clear even performing a clean installation. So, I have added dummy cache this time. I will let you know if this problem still exists.

[2020-05-08 10:55] yakky commented on #554
@atlonxp I traced the `AttributeError` down to this PR https://github.com/ella/django-appdata/pull/23 (which I opened myself :D ) which is awaiting review
I will add a note on the readme regarding django 3 support, for now

[2020-05-08 13:47] atlonxp commented on #554
@yakky migrate to Django 2.2.12, it works smoothly BlogConfig can be done manually.

[2020-05-08 17:59] atlonxp commented on #554
With django 2.2.12 and djangocms-blog (latest), it seems work fine no error at all.

After I tried many scenarios, I found that
+ sometimes AutoSetup does not run automatically
+ blog menu e.g. "Add new article" is missing at the creating page/sub page/create article

When I roll back to django 3.0.6
* blog menu is back
- same reported issues are back

[2020-05-08 18:35] atlonxp opened #555 "from_db_value() missing 1 required positional argument: 'context'"
Yet another issue that I found and it could relate to `app-data`

![Screen Shot 2020-05-08 at 7 29 41 PM](https://user-images.githubusercontent.com/38250872/81437073-73921f00-9162-11ea-87e5-025c45bd15ab.png)

The issue problem happens while drawing `blog_menu`, which I believe the error occurred in `djangocms_blog/cms_menu.py` line 74 while trying to fetch the data.

The error caused the function

[2020-05-09 14:31] pupattan commented on #554
Any expected date to get ella/django-appdata#23  merged ?

[2020-05-09 16:58] cfd-manager opened #556 "aldryn_apphooks_config >>> python_2_unicode_compatible // Python 2 dependency prevents djangocms migration"
It looks like `aldryn_apphooks_config` tries to use `python_2_unicode_compatible` which was removed in python3. Any workaround? Otherwise it won't let me migrate the djangocms-blog changes..

Related SO thread:
https://stackoverflow.com/questions/61700135/importerror-after-installing-djangocms-blog-cannot-import-name-python-2-unicod/61700218?noredirect=1#comment109138079_61700218

Traceback (most

[2020-05-10 04:14] pupattan opened #557 "unable to find option to select app config automatically"
While creating a post user has to select app. config
I dont want the user to select the app config. i want to make it default as its confuses some users.
I dont find any option/configuration to select it automatically and skip this step.
Without app config i am getting this error

![image](https://user-images.githubusercontent.com/19246595/81490676-af340280-92a2-11ea-9dcb-1db9d19eb3dd.png)

[2020-05-13 11:18] yakky commented on #556
@cfd-manager thanks for reporting. the issue have been fixed in aldryn-apphooks-config 0.6 https://github.com/divio/aldryn-apphooks-config/pull/74

[2020-05-13 11:19] yakky commented on #556
could you confirm that this is solved ?

[2020-05-13 11:20] yakky commented on #554
Hopefully we will release django-appdata 0.3.0 today

[2020-05-13 11:21] yakky commented on #554
Could you please open a separate issue for the menu errors?

[2020-05-13 11:22] yakky commented on #557
@pupattan which version of django CMS / Django are you using?

[2020-05-13 11:23] yakky commented on #557
@pupattan this is currently the behavior of aldryn-apphooks-config, not something djangocms-blog can implement itself
This only happens when you have multiple configurations, right?

[2020-05-13 11:33] atlonxp opened #558 "Menu is missing"
In Django 2.2.12 clean installation or Migrate back from Django 3.x to Django 2.2.12

sometimes AutoSetup does not run automatically,
Advanced menu is missing while creating pages, but this can be done by creating page then change settings later in the advanced panel.
blog menu e.g. "Add new article" is missing at the creating page/sub page/create article
When I roll back to django 3.0.6

blog men

[2020-05-13 11:34] atlonxp commented on #554
Sure

[2020-05-13 11:35] atlonxp commented on #555
@yakky  Have you found any solution for this issue?

[2020-05-13 16:10] cfd-manager commented on #556
hmhm not sure (i'm not that experienced in coding). It seems that it installed django 2.2.12 when upgrading to aldryn 0.6, so this won't work with Django? Also i reinstalled djangocms-blog. Will try to do some more debugging tomorrow.

Collecting djangocms-blog
  Using cached djangocms_blog-1.1.0-py2.py3-none-any.whl (204 kB)
Requirement already satisfied: django-taggit-autosuggest in c:\users\jon

[2020-05-13 20:07] cfd-manager commented on #556
Oh it does... just found it ;) Can be closed, thanks!

[2020-05-13 20:07] #556 closed

[2020-05-13 20:24] cfd-manager commented on #515
I have the same issue.

This is my parler setting:

Using `BLOG_USE_RELATED = False` in settings.py solves it somehow though.

[2020-05-14 20:02] yakky commented on #555
@atlonxp I can't reproduce this
Could you post your pip freeze? `from_db_value` is only used by a handful of dependencies in a djangocms-blog virtualenv (and it's not used by parler, django CMS or djangocms-blog which should be only one involved in the menu), so IDK what triggered your error

[2020-05-14 20:03] yakky commented on #554
thanks, closing this as solved by the release of django-appdata and aldryn-apphooks-config

[2020-05-14 20:03] #554 closed

[2020-05-14 20:10] yakky commented on #558
**Autosetup**

 only runs if the blog page is not presente when the runserver starts. if you delete autosetup won't detect until ou restart it again. In the basic project which ships with djangocms-blog autosetup is run everytime the project starts without the blog page

**Advanced menu**
Do you mean the **advanced page setup** form? This is only available once the page exists
![Screenshot_2020-05

[2020-05-14 20:16] yakky commented on #545
@g3rb3n unfortunately this is the default behavior of the django admin `prepopulated_fields`: once is set on first form submit, it's no longer updated automatically  if the title is updated. We can improve the error message and highlight the title and slug fields, and we can possibly move the slug field beneath the title to make easier for the user to change both

[2020-05-14 20:20] atlonxp commented on #555
Here is the pip freeze (a little bit long, my apology)

Virtual environment: Anaconda

Dependencies:
alabaster==0.7.12
aldryn-apphooks-config==0.5.3
appnope==0.1.0
asgiref==3.2.7
Babel==2.8.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
coverage==4.5.4
cycler==0.10.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.6
django-app-helper==2.2.1
django-app-manage==0.9
django-appdata==0.2.2
d

[2020-05-14 20:21] atlonxp commented on #558
I have posted the `pip freeze` in another issue.

[2020-05-14 21:47] yakky commented on #555
@atlonxp can you try to update to `django-appdata==0.3.0` and `aldryn-apphooks-config==0.6.0`?

[2020-05-14 21:48] yakky commented on #555
be aware that djangocms-text-ckeditor has some issues with django 3.0 (see https://github.com/divio/djangocms-text-ckeditor/pull/510) so this might be related to that

[2020-05-14 22:54] atlonxp commented on #555
I have run a clean installation again, with the following instructions:

`
pip install djangocms-blog

pip install aldryn-search djangocms-bootstrap4 djangocms-file djangocms-googlemap djangocms-icon djangocms-link djangocms-picture djangocms-snippet djangocms-style djangocms-text-ckeditor djangocms-video
`

As suggested,  I removed `djangocms-text-ckeditor` then

`
./manage.py migrate
./manage.py

[2020-05-15 00:35] yakky commented on #555
The only way I can reproduce is when creating a blog post or a page from the wizard due to [this djangocms-text-ckeditor error](https://github.com/nephila/djangocms-blog/issues/555#issuecomment-628904311)

You can check your setup against this sample project I uploaded https://github.com/yakky/djangocms-blog-poc

[2020-05-15 05:06] pupattan commented on #558
Is there any option to change the position of the blog in navigation menu ? It always comes in the first position

[2020-05-15 05:10] pupattan commented on #557
i am able to fix this with BLOG_ADMIN_POST_FIELDSET_FILTER
Anyway its a great repo, Helped a lot . Thanks for your work :)

[2020-05-15 05:10] #557 closed

[2020-05-15 06:56] yakky commented on #557
@pupattan thanks :bow: glad it's helpful

[2020-05-15 10:21] yakky commented on #558
By moving the page the django cms page tree you can arrange the menu as you need

[2020-05-15 10:23] yakky commented on #558
I can't reproduce, sorry

Can you check your setting and setup against the sample project I posted here https://github.com/nephila/djangocms-blog/issues/555#issuecomment-628957691

[2020-05-15 12:40] #457 closed

[2020-05-15 15:21] g3rb3n commented on #545
@yakky Would be nice to stick with the default django admin behavior. DjangoCMS has the slug field directly below the title. In the Post admin form there is some room after subtitle for a slug. I guess the error message would be clear enough if the slug field is visible.

If you agree on this, I can spend some time to make the changes.

[2020-05-15 15:39] g3rb3n opened #563 "error: Django 3.1a1 is installed but Django<3.1,>=1.11 is required by {'django-appdata'}"
While setting a the development environment I get the following error:
error: Django 3.1a1 is installed but Django<3.1,>=1.11 is required by {'django-appdata'}
on:
python setup.py develop

os: Ubuntu 18.04
python: 3.6.9
pip: 20.1

Doing a pip install django==3.0.6 fixes the issue.

[2020-05-15 15:42] yakky commented on #563
@g3rb3n how have you installed it?

normally non-release packages are not installed by `pip` so it should not be required to pin packages to exclude alpha releases

[2020-05-15 15:43] yakky commented on #545
@g3rb3n I totally agree with you. It would be awesome if you could handle this

[2020-05-15 21:36] yakky opened #564 "Port to updated tooling"
* Update tooling
* Port to github actions
* Reformat code

[2020-05-15 21:52] g3rb3n opened #565 "Individual test cases do not work when following steps in documentation"
`python cms_helper.py test tests.test_views` raises errors.

ModuleNotFoundError: No module named 'app_helper'
fix: `pip install django_app_helper`

ModuleNotFoundError: No module named 'aldryn_search'
fix: `pip install aldryn_search`

ModuleNotFoundError: No module named 'djangocms_video'
fix: `pip install djangocms_video`

ModuleNotFoundError: No module named 'six'
fix: `pip install django==2.2`

[2020-05-15 22:11] g3rb3n commented on #563
I followed the procedure in CONTRIBUTING.rst

    $ mkvirtualenv djangocms-blog
    $ cd djangocms-blog/
    $ python setup.py develop

I was quite surprised to encounter the 3.1 alpha release. Finally had to downgrade to 2.2 to get testing up and running.

[2020-05-15 22:13] g3rb3n commented on #545
@yakky On it.

[2020-05-15 22:36] yakky commented on #545
@g3rb3n great!

be aware that we merged a PR which completely changed our code style. You will want to sync with develop to be up-to-date with the current codebase

[2020-05-15 23:20] yakky commented on #565
Fixed by #566

[2020-05-15 23:20] #565 closed

[2020-05-15 23:22] yakky commented on #563
In the updated contribution guide (#568) we recommend using `pip install -e .` which provides more reliable results

[2020-05-15 23:45] g3rb3n opened #569 "Ability to extend post with extra fields and extra placeholders"
We would like to add some properties to a blog post which should be manageable in the admin interface and in the web UI.

We currently have a monkeypatch to achieve this. The extra properties are added as an inline to the PostAdminForm, extra placeholders are auto created with signals.

It would be nice if there are some hooks to achieve this. eg:
def register_post_inline(inline)
def register_post

[2020-05-16 04:43] pupattan commented on #558
Thanks :)

[2020-05-16 06:49] pupattan opened #570 "Unable to update BlogConfig"
I am trying to update BlogConfig in program using the following code.
But its not updating. When i am trying from admin menu form its correctly updating

[code]
app_config.menu_structure still shows "complete"

[2020-05-16 10:04] g3rb3n opened #571 "Replace deprectated function calls"
There are a some deprecation warnings:
* DeprecationWarning: Please use assertRegex instead.
* DeprecationWarning: Please use assertEqual instead.
* RemovedInDjango40Warning: force_text() is deprecated in favor of force_str().
* RemovedInDjango40Warning: smart_text() is deprecated in favor of smart_str().
* RemovedInDjango40Warning: django.utils.translation.ugettext_lazy() is deprecated in favor o

[2020-05-16 16:10] yakky commented on #569
I am not against it, but I am a bit worried about the number of features this application is growing :joy:
Can't this already be achiedeved by creating external models pointing to the post and overriding the admin? :thinking:

[2020-05-16 16:18] yakky commented on #571
Nice, I still need to get through them.
Some of them are fixed by #568 , but other will probably need some work

[2020-05-16 16:21] yakky commented on #570
as `BlogConfig` is an appdata model, the attributes are just a "proxy" for the real data stored in the app_data object. You must use `app_config.app_data.config.foo = bar` syntax
See https://github.com/nephila/djangocms-blog/blob/develop/tests/test_menu.py#L144 for a usage example in the tests

[2020-05-16 18:39] g3rb3n commented on #569
@yakky The idea is not to include to many features, but giving programmers a generic ability to hook up features that should not be part of a generic blog application.

Some want to include images, some not.
Some want to include extra placeholder, some not.

We have someone that wants some fields which are very specific and should not be in a generic blog application. We already achieved the funct

[2020-05-16 18:45] g3rb3n commented on #571
Most warnings come from dependencies. I branched out of 564 and encountered some in djangocms-blog which I have replaced in feature/issue-571-replace-deprecated-function-calls. I will do a PR soon.

[2020-05-16 19:46] yakky commented on #546
Fixed by #572

[2020-05-16 19:46] #546 closed

[2020-05-16 19:57] yakky commented on #569
@g3rb3n I got the idea to just implement hooks to make adding things easier, I was just wondering if it's achievable in a clean way with the current codebase or not, but I have not analyzed in great detail, yet

If you can write a detailed (even if brief) proposal, I think it would be an interesting addition

[2020-05-16 19:58] #563 closed

[2020-05-16 19:58] #564 closed

[2020-05-16 20:01] yakky commented on #545
Fixed by #567 by moving the field and making easier for the editors to spot the slug field to be edited

[2020-05-16 20:01] #545 closed

[2020-05-16 20:02] yakky commented on #521
For now I added a sample project and steps to recreate it https://github.com/yakky/djangocms-blog-poc

[2020-05-16 20:37] g3rb3n commented on #569
I have the required changes here:
https://github.com/g3rb3n/djangocms-blog/tree/feature/issue-569-post-extensions

Basically include `inlines = []` in admin.PostAdmin

And the following:
[code]

[2020-05-17 07:54] yakky commented on #569
@g3rb3n thanks, now it's clearer :)

Generally speaking I think it's :+1:

I am thinking if we need two different code paths (inlines and onetoone), or we could just go with one and cover all use cases with that, just to make things easier to understand for the people who would need this feature.

[2020-05-17 08:05] yakky opened #575 "Missing running actions on opening pull request"
## Description

test.yml github action misses the `pull_request` event preventing pull request to trigger tests

[2020-05-17 08:48] g3rb3n commented on #532
Encountered this bug once more
[code]

If I try to add namespace Heros to a page I receive an error

But there are no errors below.

If I try to add Blog / Blog to a page I received an error

With below

What is the intended behavior?
Should one be able to attach an existing application instance?
Should a new application instance be created?

[2020-05-17 11:41] g3rb3n commented on #569
I agree that a register hook should be easy to understand. There is a functional difference between the inline and the placeholder. The inline should appear in the form and only has to be created if specified. The placeholder is not in the admin and should always be created if a post is created.

It might be best to communicate this difference clearly in the docs. But maybe there is a clean way to

[2020-05-17 12:20] g3rb3n commented on #532
There is a hidden form field: application_configs

This is causing trouble. The error is on this field, but since the parent html element is hidden, the error is not visible.

[2020-05-17 12:27] yakky commented on #569
@g3rb3n let me sit on this and think a possible unified solution
If I don't come up with anything, your implementation is :ok_hand:

[2020-05-17 12:34] g3rb3n commented on #532
Steps to reproduce
* Create page 'Blog'
* Create page 'News'
* Edit page advanced 'Blog' select application Blog and fill in namespace 'Blog' and press Save
* Edit page advance 'News' select application Blog and fill in namespace 'Blog' and press Save
* Now a page with form message 'Please correct the error below.' and application_namespace message 'An application instance using this configuration

[2020-05-17 12:56] yakky commented on #532
@g3rb3n awesome, thanks for the detailed steps, I will check this ASAP

[2020-05-17 12:57] #575 closed

[2020-05-17 13:14] yakky opened #577 "Can't access coveralls / codecov env variable from pull requests"
## Description

The `secrets` context apparently does not contain the secret from the main repo

[2020-05-17 13:19] g3rb3n commented on #532
@yakky I have a test case for this.

I have some question:
What is the intended behavior?
Should one be able to attach an existing application instance?
Should a new application instance be created?

[code]
I think that answers the last question as 'No'

Why don't we just show the select instead of a text field?

[2020-05-17 13:23] g3rb3n commented on #532
[code]
Some how this passes, while it should not...
The page is modified and a non existing application namespace is specified. This causes all the other trouble mentioned above.

[2020-05-17 13:34] g3rb3n commented on #532
See https://github.com/g3rb3n/djangocms-blog/tree/bugfix/issue-532

[2020-05-17 14:29] g3rb3n commented on #532
@yakky One other thing. What to do when things fail? Now thing fail hard. What do you think about including logging to report errors to the console? Maybe we can provide some default output or some cleaner error handling to the front end too?

[2020-05-17 18:30] #577 closed

[2020-05-17 18:35] yakky commented on #532
You can't create new configs before attaching them to a django CMS, as the reverse (aka the blog post absolute url) will fail

[2020-05-17 18:38] yakky commented on #532
You can't create new configs before attaching them to a django CMS, as the reverse (aka the blog post absolute url) will fail
appconfig selection in djangocms-blog is a select, you do see a text field instead?

[2020-05-17 18:55] g3rb3n commented on #532
Seems to be a combination of this code and firefox.
https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/widgets/forms.apphookselect.js

Executing the following in the console, fixes the problem:
[code]

[2020-05-17 19:02] g3rb3n commented on #532
@yakky Yes, I usually saw just a text field. Sometimes it became a select box...

[2020-05-17 19:21] yakky commented on #532
But you mean in the Django CMS page advanced setting? Application name model field is a string as it holds the Django namespace for the urlconf, this it must be a text field. The custom select widget maps the application config namespace in it
On the Django CMS side there is no check that the appconfig namespace exists, because there is no sanity check due to the way Django namespaces work

[2020-05-17 21:41] g3rb3n commented on #532
Indeed on /en/admin/cms/page/1/advanced-settings/

There is some complex logic in the UI. There is a select#application_configs and a input#application_namespace. On some conditions one of the two is hidden.

If I have not edited the advanced settings and select Blog as app, then I get:
* firefox: input#application_namespace
* chromium: select#application_configs

Besides this I can mess up the da

[2020-05-17 22:07] yakky commented on #532
I can reproduce the first one
I opened https://github.com/divio/django-cms/issues/6853 on django CMS

[2020-05-17 22:19] yakky commented on #532
And a fix is ready https://github.com/divio/django-cms/pull/6854

[2020-05-17 22:32] yakky commented on #569
I think we have no way around the two different models, but I suggest to slightly refactor the code.

The current `placeholder_extension` is not required to have a placeholder and it might register an `inline` itself, to allow adding normal fields and not exclusively placeholder fields, thus the functions might be adapted (pseudocode) this way:

[code]

This provides the same function for both, an

[2020-05-17 22:59] yakky opened #581 "Links in PR templates point to django-app-helper"
## Description

Links in PR templates point to django-app-helper

[2020-05-17 23:01] #581 closed

[2020-05-17 23:50] g3rb3n commented on #532
Cool. I did not notice it was actually the first line that failed.

[2020-05-19 13:36] g3rb3n commented on #569
The thing is though that inlines are handled by django and django automatically creates related instances when the admin user specifies the field. When a admin user leaves the field empty the placeholder is also not available nor createable.

The best would be to let django always create the related instance, also when u user does not specify the inline. Than we can also leave out the signals.

I

[2020-05-19 13:50] yakky commented on #569
@g3rb3n sorry, my pseudocode above probably was not  clear enough
fields with one-to-one must still be created via signal, but it can be handled in the same register function, by checking if the model linked to the inline has a `OneToOneField` to the post

By always adding the `InlineAdmin` whatever the key is, we also allow users to add fields on the model with the `OneToOneField`

[2020-05-19 14:25] g3rb3n commented on #569
So basically one register function and in the function the check on whether this instance should be created with a signal or not. That idea is clear.

There are two situations:
- admin user specifies the admin inline -> object is created by django
- admin does not specify the inline -> object with placeholder should be created with a signal

placeholder can always be null and are filled in later i

[2020-05-19 14:28] yakky commented on #569
It's correct, do you think it's doable? I *think* that inlines for `OneToOneField` are always created on save, even if blank, but I have not tested it

[2020-05-20 00:18] #532 closed

[2020-05-20 23:19] yakky commented on #555
this has been fixed in djangocms-text-ckeditor 3.9.1

[2020-05-20 23:19] #555 closed

[2020-05-23 08:20] #571 closed

[2020-05-25 13:56] corentinbettiol opened #584 "Do not import aldryn_search outside PostIndex in search_indexes.py"
### Description

We're not using `aldryn_search` at all, but we're using `django-haystack` in order to index elements of our websites. We had installed `djangocms_blog`.

Haystack allows to exclude Indexes with its [EXCLUDED_INDEXES](https://django-haystack.readthedocs.io/en/master/settings.html?highlight=EXCLUDED_INDEXES#haystack-connections) paremeter, but it *only* excludes the content of the I

[2020-05-25 20:13] yakky commented on #584
@corentinbettiol unfortunately can't remove `from aldryn_search.utils import get_index_base` from module level import as it provide the base class for `PostIndex`

what we can easily do, is to catch `ImportError` and skip the `PostIndex` definition which will allow you to implement your own without `aldryn_search`

How's that sound to you?

[2020-05-26 07:13] corentinbettiol commented on #584
I think that's be great !

Better than mocking the djangocms_blog.search_indexes module, like we actually are doing:

[code]

[2020-05-28 09:18] yakky commented on #584
@corentinbettiol could you please check linked PR?

[2020-05-31 06:07] sq9mev opened #586 "No plugins available to add to blog post page in frontend editing form using USE_PLACEHOLDER = True"
## Description
No plugins available to add to blog post page in frontend editing form using USE_PLACEHOLDER = True
![djangocms_blog-no-plugins-available](https://user-images.githubusercontent.com/592307/83345618-db243000-a304-11ea-98ad-440f3aea2a04.png)

## Steps to reproduce

- create post and save it
- open right menu containing page structure
- use "+" button to add some plugin in "Media" or "P

[2020-06-01 06:45] sq9mev commented on #586
Well, it's not djangocms_blog fault… in my templates i use custom tag which replaces spaces with &nbsp; after single letters (in polish language we do not leave a single letter at the end of the line).

Seems like "sierotki" custom tag should be used in more specific context, not covering whole content block in my project's base.html.

Closing as it;s not a bug.

[2020-06-01 06:45] #586 closed

[2020-06-01 07:07] yakky commented on #586
@sq9mev thanks for reporting the root cause of the issue

[2020-06-02 05:35] sq9mev commented on #586
Just for posterity: there were two problems with "sierotki" templatetag (https://room-303.com/blog/2009/08/12/python-utop-sierotki-w-zupie/):

1. lxml parser wraps output with html > body
2. script tags were processed as well causing strange problems

Here's the solution: https://gist.github.com/sq9mev/dbd9b2cdcb59c0828045eea46a05389f

[2020-06-05 02:55] pupattan commented on #421
Please fix this issue

[2020-06-15 07:24] corentinbettiol commented on #584
@yakky I think it's my first review, I don't really know if I did anything wrong.

[2020-06-20 15:14] g3rb3n commented on #569
I have refactored the code so that there is just one register_extension function. I have also added unregister functionality.

Objects in inlines are not always created as far as I know. If left blank, this might be the expected behavior.

If someone wants to add just a placeholder an inline does not make sense, since placeholders are only visible in the CMS UI, not in the django admin UI. This is

[2020-06-21 13:18] yakky commented on #569
@g3rb3n awesome! I will review them quickly. #568 has already been merged on develop, BTW so we only need one

[2020-06-21 13:32] yakky commented on #584
@corentinbettiol definitely nothing wrong!
Thanks for reviewing it, I amended the documentation as suggested

[2020-06-21 13:37] #584 closed

[2020-06-21 13:38] yakky commented on #421
@pupattan not sure when I will have the bandwidth to handle this, but it's definitely something that should be improved

[2020-06-21 22:09] yakky commented on #569
Fixed by #590

[2020-06-22 20:28] yakky opened #591 "Fix towncrier failures on branch develop"
## Description

Towncrier check task runs on develop branch, which fails, of course

[2020-06-22 20:45] #591 closed

[2020-06-23 06:26] yakky opened #593 "Tweak linting"
## Description

Update linting configuration by:

* syncing pre-commit / tox flake8 configuration
* adding experimental informative only interrogate support

[2020-06-23 06:34] #593 closed

[2020-06-23 08:34] #569 closed

[2020-06-23 17:12] tacc-wbomar opened #595 "Allow Content Managers to Select which Template the Plugin will Use"
## Description

Have "the plugin admin interface will allow content managers to select which template the plugin will use." ([source, bottom of document](https://github.com/nephila/djangocms-blog/blob/ff2d6a9d93bc26b380db9c3783b4c8d68c8a0569/docs/features/templates.rst)) to be a true statement, or document how and where and when the plugin admin interface will allow this.

## Use cases

"content m

[2020-06-23 18:05] tacc-wbomar commented on #550
I have returned to this task (finally). I have the blog running, again. but, the `meta` tags are not being shown in either the `base.html` output, nor in the output from the blog templates. My differences/additions, from the original post setup, are documented below.

# Notes

- I think I do not need to install `djangocms-page-meta` to resolve my issue, but I did (and only halfway), because I was

[2020-06-23 21:32] tacc-wbomar opened #596 "Plugin Templates are Expected in `default/` Not `plugins/`"
## Description

The [documentation](https://djangocms-blog.readthedocs.io/en/latest/features/templates.html#plugin-templates) states:

But, I found them in the `default` folder of the folder specified by the **Template prefix**.

## Steps to reproduce

1. Go through all the basic installation, successfully.
1. Have an automatically set up Blog config.
1. Have an article.
1. Set "Template prefix" t

[2020-06-24 04:16] yakky commented on #595
`Templates set` and `Plugin Templates` are two different features

`Templates set` applies to all the blog templates (i.e.: it allows to have different templates for posts lists and detail page) and has no dropdown, you have to set the path of the set of templates you want to use for blog posts belonging to that app configuration

`Plugin Templates` is instead a static setting which enable selecti

[2020-06-24 04:29] yakky commented on #596
If you set `Template prefix` to `plugins/djangocms_blog/vertical` you will have to copy templates inside `templates/plugins/djangocms_blog/vertical` directory, as in `cp -a nephila/djangocms_blog/templates/djangocms_blog/* /path/my/project/templates/plugins/djangocms_blog/vertical`

Have you also set `BLOG_PLUGIN_TEMPLATE_FOLDERS` ?

[2020-06-24 04:52] yakky opened #597 "Extra migrations triggered when customizing BLOG_PLUGIN_TEMPLATE_FOLDERS"
## Description

If first `BLOG_PLUGIN_TEMPLATE_FOLDERS` item is not `plugins`, a new migration is triggered due to hardcoded value in migrations

## Steps to reproduce

Steps

1. Customize `BLOG_PLUGIN_TEMPLATE_FOLDERS` by setting to
[code]

1. Run `./manage.py makemigrations djangocms_blog`

## Versions

Any

## Expected behaviour

No new migration is created

## Actual behaviour

Migration creat

[2020-06-24 05:20] yakky opened #598 "Improve pytest configuration"
## Description

Set default pytest configuration for easier testing

[2020-06-24 05:27] #598 closed

[2020-06-24 05:43] #597 closed

[2020-06-24 05:46] yakky commented on #550
* `django-meta` is pulled in as part of djangocms-blog dependencies. You **must** add to `settings.py`, but you don't need to pip install it
* The extra spurious migration that triggered that merge request is being fixed in #601 , thanks for noticing
* I can't reproduce the issue with meta not being shown. With sample project at https://github.com/yakky/djangocms-blog-poc, I get the following meta

[2020-06-24 14:39] tacc-wbomar commented on #595
Thank you. This means I have, again, not understood how something works. I will revisit my other new issues, and documentation, with this new insight. I'll reply, again, when I have either satisfactorily understood or have more questions.

[2020-06-24 15:11] tacc-wbomar commented on #596
Yes, I have set `BLOG_PLUGIN_TEMPLATE_FOLDERS`:

[code]

This "bug" no longer exists for me (after some changes since its report). I believe it was caused by a mix of the following:
- a misguided configuration of "Template sets"
- a misplacement of templates for "Template sets" and "Plugin templates"

It may or may not be a bug; but, if so, then it is likely an edge case; and, my intent is to set

[2020-06-24 15:11] #596 closed

[2020-06-24 15:20] tacc-wbomar commented on #596
**Postmortem**

The `# i.e. …` comments in my `BLOG_PLUGIN_TEMPLATE_FOLDERS` are **not** accurate. Because I had set "Template prefix" to `plugins/djangocms_blog/vertical` and the "Plugin template" to default, the path to the "Plugin templates" was truly `templates/djangocms_blog/vertical/default/`, as was searched for (and not found) by the code.

[2020-06-24 15:32] tacc-wbomar commented on #595
My misunderstanding was caused by lack of familiarity with Python vocabulary.

- The `djangocms_blog` is an "**app**". _(I had considered it to be a "plugin" for DjangoCMS)_
    - Thus, templates for _it_ are called "Template sets".
- The `djangocms_blog` Plugins are "**plugins**". _(I had considered it to be a "component" for the `djangocms_blog`)_
    - Thus, templates for _them_ are called "Plu

[2020-06-24 17:22] tacc-wbomar commented on #595
@yakky, thanks. I am experience a problem (even after incorporating your information to my understanding).

## Questions

1. Is this investigation appropriate to continue on this issue—i.e. should I create another issue, instead?
2. Which plugins offer this choice of "Plugin template:"?
3. If more than those I see offering it, then please assist me in troubleshooting. (I have tried some myself.)

[2020-06-24 20:26] tacc-wbomar opened #603 "Empty Bullet for Article That Has No Publish Date"
## Description

The `post.date_published` `<li>` on the [`…/includes/blog_meta.html`](https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/templates/djangocms_blog/includes/blog_meta.html#L9) template shows even if there is no publish date.

## Steps to reproduce

1. Fresh functional install of `djangocms_blog` app.
1. New article (do not publish).
1. Load new article in site.

##

[2020-06-24 21:17] #603 closed

[2020-06-24 21:23] yakky commented on #595
I think continuing on this issue is fine

all plugins should have a template selection, if `BLOG_PLUGIN_TEMPLATE_FOLDERS` has more than one entry, as in your example

I think I spot where the issue lies: this line (and similar above) https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/cms_plugins.py#L112 should be `exclude = ["template_folder"] if len(get_setting("PLUGIN_TEMPLATE

[2020-06-24 21:39] yakky commented on #595
@tacc-wbomar have a look at #605 for improved documentation regarding templates customization and feel free to suggest improvements

[2020-06-24 21:53] yakky opened #606 "Fix python version declaration in tox"
## Description

The current tox configuration is broken as the same python version is used for all the tests.

this does not impact GA as in this case the proper python version is provided by the environment.

## Steps to reproduce

run `tox -epyX.Y-django22-cms37`

## Versions

Any

## Expected behaviour

Tests are run with python `X.Y` version

## Actual behaviour

Tests are run with whatever de

[2020-06-24 21:54] tacc-wbomar opened #607 "Where Does "Text" (not "Abstract") Appear for a new Article?"
## Description

Unclear where to see content of "Text" field (not "Abstract" field) that is entered for a "New Article" (at the bottom of the relevant admin interface).

## Steps to reproduce

1. Cannot see entered text on page.
    1. Build [`djangocms-blog-poc`](https://github.com/yakky/djangocms-blog-poc) (I built from scratch).
    2. Create a "New Article".
    3. At the bottom of the interfa

[2020-06-24 21:56] yakky opened #608 "Split GA tests workflow in a separate file"

[2020-06-24 22:03] yakky commented on #607
Indeed, it's a bug

[2020-06-24 22:11] #606 closed

[2020-06-24 22:28] #608 closed

[2020-06-24 23:51] yakky commented on #607
Issue should be fixed by #611

[2020-06-24 23:52] yakky commented on #595
Missing select should be fixed in #612

[2020-06-25 15:23] tacc-wbomar commented on #607
That described behavior matches my expectation. And, I have confirmed the fix, #611 is successful, on an existing install (that is **not** based on the `djangocms-blog-poc`):

1. update `requirements.txt`
    - from `djangocms-blog==1.1.1`
    - to `-e git+https://github.com/nephila/djangocms-blog.git@bugfix/issue-607-wizard-text#egg=djangocms-blog`
1. restart docker (which my instance uses instea

[2020-06-25 17:19] tacc-wbomar opened #613 "How Does the Meta Block in Base Template Work?"
## Description

I am confused by purpose of the `meta` block in `base.html` template code.

## Steps to reproduce

1. Confirm working `djangocms-meta` setup:
    1. Have working `djangocms-blog` install.
    2. Have custom `djangocms-blog` _app_ templates, that still has this code in `base.html`:
[code]
    3. Have working configuration for `djangocms-meta` app. This includes this code in `base.ht

[2020-06-25 17:20] tacc-wbomar commented on #550
Thank you for your patience. I was multitasking on too many issues, and did not confirm that I had followed all the setup steps. (I was missing the `{% include "meta/meta.html" %}`, this time, and confused by newly-reported issue #613).

[2020-06-25 17:20] #550 closed

[2020-06-25 19:41] tacc-wbomar opened #614 "Change Misleading Help Text for "Tags""
## Disclaimer

I would make a feature request, but I thought that maybe there is a way to solve the problem on my own, for my instance.

## Description

The `taggit_autosuggest` app, used by `djangocms_blog`, expects users to type a comma, instead of hitting Enter key, to enter a tag. This is not intuitive, and the help text **visible to the user**, "A comma-separated list of tags.", is misleading

[2020-06-25 21:34] tacc-wbomar commented on #595
I have tested the feature on my instance, by:

1. installing the repo with the fix branch
2. restarting the server
3. ensuring each plugin loads select dropdown
4. testing that select dropdown (on one plugin) does use the template from the selected plugin templates.

[2020-06-26 11:08] yakky commented on #595
thanks a lot for your tests, closing this

[2020-06-26 11:08] #595 closed

[2020-06-27 10:06] yakky commented on #550
no worries :)

[2020-06-27 10:09] #607 closed

[2020-06-27 10:16] yakky commented on #614
That's a tricky one
The string is defined in `django-taggit` https://github.com/jazzband/django-taggit/blob/master/taggit/managers.py#L423, where it's appropriate as there is no autocompletion mechanism.
But it should be possible to override it in ``djangocms-blog`` by adding the proper `help_text` where `TaggableManager` is added https://github.com/nephila/djangocms-blog/blob/develop/djangocms_bl

[2020-06-27 10:17] yakky commented on #570
@pupattan have you been able to change the configuration by following the information in my comment?

[2020-06-28 03:10] pupattan commented on #570
Yes. Thank you

[2020-06-28 03:10] #570 closed

[2020-06-28 15:12] yakky commented on #570
thanks for the update

[2020-07-03 14:08] victor-yunenko opened #615 "Allow categories sorting"
This is quite easy to do, I can implement that until Wednesday.

![image](https://user-images.githubusercontent.com/36416236/86476759-d0b7e480-bd4f-11ea-8b48-430556314ecf.png)

[2020-07-03 14:10] victor-yunenko opened #616 "Post model images should be translatable"
Image can contain text,  and at the moment the editor has no choice but to add a global eg German image to all 4 languages.

[2020-07-03 14:11] victor-yunenko commented on #616
On a WIP project this is an essential feature for me already, hence I'll use a fork and submit a PR in the meantime 👍

[2020-07-03 14:32] victor-yunenko opened #617 "Admin UI has a set of CSS bugs, UX can be improved"
Apologies for raising it as a single ticket. My time is quite limited, yet I wanted to shortly publish a set of points that I'm going to handle on the next week [within this fork](https://github.com/what-digital/djangocms-blog/). I'll try to submit it as a PR as well, although due to the time constraints most likely it would be a single PR as well.

### Title and website select

![image](https://u

[2020-07-04 10:13] yakky commented on #617
@victor-yunenko thanks for this through UX/UI check
Just a few hints to provide an intiial feedback:
- author selection: it's the standard `raw_id_fields` django admin widget, I don't know how much it's worth to customize it
- css issues: admin css is limited to tag autocomplete widget, all the css layout is actually by `djangocms-admin-styles`, I'd rather fix the issues there instead of patching

[2020-07-04 10:13] yakky commented on #616
Nice!

[2020-07-04 10:16] yakky commented on #615
It can be a nice addition. It must be implemented in a backward compatible way and it should not force users to arrange categories manually if they want to keep an alphabetical order

[2020-07-04 10:23] victor-yunenko commented on #615
Makes sense to me - I'll set name as the default sorting after the `order` field 👍

[2020-07-04 10:30] victor-yunenko commented on #617
Thanks for the green light!

In general I agree. There's that django-autocomplete (or something) package, with nice search and etc. Although so far I only got requests to hide the author field on the frontend, hence I probably wouldn't add it within the first PR.

Indeed, I've been suffering from djangocms-admin-styles long enough :)

In short I would just set those fields to one column per row in

[2020-07-04 10:49] yakky commented on #617
ok, let's see how it looks, I would restrain from inlining all the fields as the changeform is really huge, so I think we should find a compromise, or coordinate an effort with angelo to fix the major issues in djangocms-admin-style

[2020-07-04 10:49] yakky commented on #615
:+1:

[2020-07-04 11:14] victor-yunenko commented on #617
Sure, to reiterate, my suggestion would be to simply replace:
[code]
with
[code]

[2020-07-04 14:55] yakky commented on #617
after a second look, you are (rightfully) looking at 1.1 branch, in 1.2 we already inlined quite a few fields (https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/admin.py#L127)

You probably want to check against `develop` branch, which I want to release as 1.2 very soon anyway

[2020-07-04 15:46] yakky opened #618 "Update code linting tools"
## Description

Version bumps in pre-commit, isort make tests fail

Update (and code formatting) is needed to ensure succesful test suite run

[2020-07-04 15:58] #618 closed

[2020-07-05 11:02] yakky commented on #617
@victor-yunenko I am currently working on a documented and guided way to customize the fieldsets layout on a per project basis, I will post a preliminary PR soon, I think it will make your customization work easier and it will allow us to decide more freely which default layout to provide

[2020-07-05 11:41] yakky opened #620 "Improve PostAdmin customizability"
## Description

As customizing the post admin can improve a lot the editors workflow, we must improve (and document) the way it can be done

Major point is make sure that field-enabling logic in `get_fieldset` can be taken into account

[2020-07-05 11:52] yakky commented on #617
@victor-yunenko see #621

[2020-07-05 22:34] yakky opened #622 "Improve setting documentation"
## Description

Current settings documentation lacks in clarity and is disconnected from actual setting list, making it hard to keep it in sync

[2020-07-06 06:13] yakky opened #624 "Simplify RTD builds"
## Description

A lot of RTD options are set via the web interface and require extra files in the repo

Adopt `.readthedocs.yml` (https://docs.readthedocs.io/en/stable/config-file/v2.html) and move settings there

[2020-07-06 16:52] #624 closed

[2020-07-07 20:07] tacc-wbomar commented on #614
I am interested in—but do not have the professional bandwidth for—learning how to monkeypatch this. So, I won't.

I request an improvement of the text. Perhaps, any of these texts:

- You may assign a tag by typing a comma after typing the tag.\
    _Alternatively, you may select from an auto-complete list that will appear as you type._
- You may assign a tag by pressing the comma key after typing

[2020-07-11 15:18] yakky commented on #614
@tacc-wbomar thanks for you input, how about the changes in #626

I posted some screenshots to make review easier

[2020-07-11 15:18] yakky commented on #617
@victor-yunenko I improved the custom tags css in #626

[2020-07-11 18:16] yakky opened #627 "Add support for django-meta 2.0"
## Description

django-meta 2.0 will replace defunct "Google+" attributes with basic schema.org support (with improved schema.org support in the pipeline)

As it's easy to add support to the new properties even before django-meta 2 is released, we can add this now

[2020-07-11 18:21] yakky commented on #613
@tacc-wbomar could you check if the documentation and comment added in #628 helps clarifying the social meta tags behavior and the role of the ``{% block meta %}``?

[2020-07-13 14:30] tacc-wbomar commented on #614
Yes, great. And shorter text 👍. I did not know tab would work. Cool! Thank you.

_P.S. A comma may help in grammatically grouping the "logical operators". This is also likely just my personal interpretation problem._

[2020-07-13 14:35] yakky commented on #614
@tacc-wbomar sure, definitely better, I amended the PR :bow:

[2020-07-13 14:44] tacc-wbomar commented on #614
Sweet, thanks for the effort!

And I can review this PR if I need to  learn to monkey patch text changes! (Because, I may find my team/clients to need more guidance than others CMS users.) _I probably would have missed the migration file and the language file change had I tried this._

[2020-07-13 14:44] #614 closed

[2020-07-13 15:03] yakky commented on #614
@tacc-wbomar both things are minor and you usually catch them up shortly after, so they are not a big deal usually
It took me a lot of years (too many, in fact!) to remember to check both when doing this kind of changes :joy:

[2020-07-15 21:41] #620 closed

[2020-07-15 21:47] #622 closed

[2020-07-23 15:56] 09F911029D74E35BD84156C5635688C0 commented on #541
Sorry but this is not helping. The setup is very confusing. I got to the point where I made the page, added the app hook, created a blog post but then page displays absolutely nothing. I can add various blog plugins to the placeholder in the template, but that doesn't seem right as every single page shows the same content (click "see more" on post, it changes url but content stays same).

Here's m

[2020-07-30 11:44] jasujm commented on #541
The ``content`` needs to be a block, not a placeholder.

[2020-08-11 14:53] tacc-wbomar commented on #613
**Yes.** The `{% block meta %}` is clear, now. Thanks!

(I will try out the "complete social meta tag rendering", like `BLOG_FB` next.)

[2020-08-11 15:22] tacc-wbomar commented on #613
I cannot find any results in `djangocms-blog` repo (searching via Github), nor (desperation) any results on the Internet (Google search). Are these future (1.2) configuration options?

[2020-08-11 15:22] tacc-wbomar commented on #613
About `BLOG_FB`, etc.

[2020-08-11 18:41] tacc-wbomar commented on #613
After experimenting with `{% if meta %}`, I have found that it is not as reliable as expected. *This __may__ be because of my ignorance.* Below is what I learned and my workarounds. Please, tell me whether any of these problems should be a new issue in this repo or another repo.

## Setup

- I have functional CMS.
- I have functional page meta.
- I have functional blog (article) meta.

## Problems

[2020-08-12 16:33] tacc-wbomar opened #629 "The BLOG_AUTO_… Setting Values Were Not Applied"
## Description

Setup did not successfully configure auto-setup for blog using `settings.py`'s `BLOG_AUTO_…` values.

## Steps to reproduce

1. Install DjangoCMS with these settings\*:
[code]

\* Source of settings: https://djangocms-blog.readthedocs.io/en/release-1.1.x/settings.html#global-settings

## Versions

Python: 3.6
Django: 1.11.22
Django CMS: (I tried two versions)
- 1.1.1
- 1.1.2.dev0 (

[2020-08-19 22:12] yakky commented on #629
@tacc-wbomar setting parameters are python variables, so they must be written as

[code]

[2020-08-19 22:41] yakky commented on #613
@tacc-wbomar this further documentation update should help clarify the proper template layout https://github.com/nephila/djangocms-blog/pull/630

djangocms-page-meta documentation is actually outdated and I will amend that as well

I also included your suggestion at point **2**

Regarding point **3**, blog overrides page meta **on purpose** as you can't have both

[2020-08-19 22:46] yakky commented on #613
check updated documentation https://djangocms-blog--630.org.readthedocs.build/en/630/features/meta.html

and updated settings documentation https://djangocms-blog--630.org.readthedocs.build/en/630/autodoc/settings.html (which is not updated on RTD due to a build failure)

[2020-08-19 23:24] yakky commented on #541
I have added in #631 an improved setup documentation to address both the template changes and the steps required to have the blog on the home page

[2020-08-20 08:37] yakky opened #632 "RTD build is broken"
Django 3.1 is used in RTD build

[2020-08-20 12:30] #632 closed

[2020-08-20 15:30] tacc-wbomar commented on #629
Oh, I am so sorry…

Big minds miss little things—that's how I defend my silliness.

[2020-08-20 15:30] #629 closed

[2020-08-20 16:00] yakky commented on #629
No worries, I miss much bigger things every day :)

[2020-08-25 20:25] yakky commented on #617
@victor-yunenko hi, any update on this? I would like to release 1.2 soon and improving the UX would be great!

[2020-08-26 16:34] tacc-wbomar commented on #613
Thank you.

### Status

- Problem 1 is solved via [option "c"](https://github.com/nephila/djangocms-blog/pull/630/files#diff-719145a46473528a8d06751d04a3943eR53).
- Problem 2 workaround was me inexpertly trying to solve Problem 3. I trust what you decide.
- Problem 3 I explained poorly. I gave data without stating the problem.

### Expected Result
* Metadata is rendered for Home page, Blog page, a

[2020-08-26 18:47] tacc-wbomar commented on #613
Is my Expected Result strange?

_Perhaps, Blog page should not have page metadata. I really don't understand how users use social media, I'm just trying to get the metadata present on all the pages so I can complete implementation of our blog/news/social-media-metadata feature._

[2020-08-26 20:43] yakky commented on #613
@tacc-wbomar I don't understand if you can see **any** metadata in the post detail view, or you can see the blog post ones and not the CMS page

If you can't see *any* metadata, that's of course an issue because the it's the whole point of the django-meta integration :)

I will try to replicate the issue in the https://github.com/yakky/djangocms-blog-poc repo

[2020-08-26 21:34] tacc-wbomar commented on #613
I think this is all the relevant info to show my setup. If helpful, I'll include bits of `settings.py`.

# Variations

## `/base.html` w/ Conditional Indirect Meta Inclusion
`templates/djangocms_blog/base.html`
[code]
_The `templates/djangocms_blog/post_detail.html` has **no** meta inclusion._
- ✅ Home page (has meta)\
  <img width="200" alt="Home page" src="https://user-images.githubusercontent.c

[2020-08-26 21:38] yakky commented on #613
@tacc-wbomar the settings and a `pip freeze` output would be of great help, thanks!

[2020-08-26 21:49] tacc-wbomar commented on #613
Okay.

- [`settings.py`](https://gist.github.com/tacc-wbomar/83060efad6dd18af8759fc57f6a108d8)
- [`pip freeze`](https://gist.github.com/tacc-wbomar/9126618582bae3ed4edd40a0458ceadc)

[2020-08-26 21:51] tacc-wbomar commented on #613
Wait. Bad. The `pip freeze` content is wrong (that's local, not docker).

[2020-08-26 21:52] tacc-wbomar commented on #613
Okay `pip freeze` content is accurate, now.

[2020-08-26 22:04] yakky commented on #613
thanks for the details
I confirm I have been able to reproduce the issue

Can you try replacing in `/templates/djangocms_blog/base.html`

[code]
with

[code]

[2020-08-26 22:06] tacc-wbomar commented on #613
Yes! That works.

[2020-08-26 22:09] yakky commented on #613
awesome!

i updated #630 to fix the base template

Thanks a lot for your patience and your super detailed reports!

[2020-08-26 22:16] yakky commented on #613
@tacc-wbomar thanks again. Closing this via merge of #630

[2020-08-26 22:16] #613 closed

[2020-08-31 11:04] khaldon opened #634 "admin/parler/change_form.html TemplateDoesNotExist"
## Description

`admin/parler/change_form.html` TemplateDoesNotExist

## Steps to reproduce

After install djangocms_blog and migrate it when I am trying to add blog article from admin page it gives me TemplateDoesNotExist
## Versions

[code]

## Expected behaviour

it should create an article without any error

## Actual behaviour

[code]

## Additional information

[2020-09-04 06:58] pau1a commented on #458
+1 on this

[2020-09-05 15:29] pau1a commented on #524
Hey @yakky can you tell me exactly where in the Django CMS config this will be found in the CMS frontend editor. I dont see any clue in there and I have exactly the same problem.
I can hack the /includes/post_detail.html file to show me anything I want it to but the problem is this file is used by both the  post_list.html and the  post_detail.html so if I hack it to show me the full post then that

[2020-09-05 23:13] yakky commented on #524
@pau1a `BLOG_USE_PLACEHOLDER` setting is read by `get_setting("USE_PLACEHOLDER")` (see https://github.com/nephila/djangocms-blog/blob/develop/djangocms_blog/views.py#L100) and is on by default.

In case you want to use django CMS plugins you don't have to set anything, after creating the blog post from the admin (or from the django CMS toolbar), you can just visit the blog post page (example: http

[2020-09-05 23:17] yakky commented on #458
In the meantime, you may want  to getting familiar with django CMS by checking these tutorials:
- https://www.youtube.com/watch?v=NbsRVfLCE1U
- https://www.youtube.com/watch?v=Dj8dhgmzlFM

they are a bit old but still valid reference material

[2020-09-06 07:02] pau1a commented on #524
Hey @yakky thanks for your reply. Ive been working through the operation of the blog application. Hope to be able to understand this soon but I certainly dont get any post content when I visit the blog post page. The div with the contents/abstract is empty.

Also you say "as admin in edit mode and add django CMS plugin". I dont see any blog plugins available apart from the following:

Archive
Auth

[2020-09-06 08:39] yakky commented on #524
Those are the plugins provided by djangocms-blog package, but you will want to install django cms core plugins (like djangocms-text-ckeditor, djangocms-picture etc) to add content to blog posts
If you installed django CMS by hand, I suggest you to check the relevant django CMS documentation http://docs.django-cms.org/en/latest/how_to/install.html#adding-content-handling-functionality about install

[2020-09-06 08:54] yakky commented on #634
@khaldon have you added `'parler'` to `INSTALLED_APPS`?

[2020-09-06 10:42] pau1a commented on #524
Hey @yakky thanks for the advice. I have all the necessary dependent stuff installed and I could force the display of a post if I hacked the template.

I think I have made a breakthrough of sorts. Looking at the translations for the Post class in models.py I could see that this was where the template should have been picking up the post_text from but it wasnt delivering anything to the front end s

[2020-09-06 11:19] pau1a commented on #524
OMG I think I've worked this out.

I hadn't realised that "abstract" and "post text" were two different fields. I don't think I even saw the second area for post text but its hard to say now given all the changes I've made.

Still I've learned a lot about this plugin and its working now so all's well. Thanks so much for your advice.

[2020-09-14 10:13] petrklus commented on #558
Hi, I am starting to see this on my projects as well - suddenly the `Blog` menu disappears, though ONLY when running on the Divio environment - locally all runs fine.

I have seen this happen on two separate projects, one of them had the blog menu running for some time - perhaps a change in Django CMS caused this?

In case anyone needs, this is my monkey-patch to resolve for now:
[code]

It seems

[2020-09-21 11:31] lefthandmastery opened #636 "Post Text Field does not show"
## Description
Blog articles wizard does not show a Text field for the blog, only the abstract is displayed.

.

## Steps to reproduce

From fresh installation of djangocms and djangocms-blog, added the required configuration to run the blog with no errors
## Versions
python = 3.7.3
djangocms-blog = 1.1.1
django = 3.0.1

## Expected behaviour
![aa](https://user-images.githubusercontent.com/2765318

[2020-09-21 16:27] pierreben commented on #484
I think this is a django-cms related bug, as explained here: https://github.com/divio/django-cms/pull/6912

[2020-09-24 05:37] dependabot-preview[bot] opened #637 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/nephila) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/nephila/update-logs/48552608).

[2020-09-28 05:40] #637 closed

[2020-10-13 12:20] #541 closed

[2020-10-13 12:20] #524 closed

[2020-10-20 19:22] mesfind opened #638 "djangocms-blog 1.1.1. 'NoneType' object has no attribute 'safe_translation_getter'"
Exception Location: djangocms_blog/models.py in get_absolute_url, line 359

[2020-10-22 17:57] #638 closed

[2020-11-01 01:00] yakky commented on #558
@petrklus thanks for the detailed analysis, I will try to replicate

This might be more related to sentry integration rather than divio cloud itself, if so, this will make easier to investigate the issue

[2020-11-01 01:06] yakky opened #639 "Update pre-commit"
Update pre-commit configuration with latest versions

[2020-11-01 01:35] #639 closed

[2020-11-01 01:49] #636 closed

[2020-11-01 01:51] yakky commented on #636
@lefthandmastery check the added note on the documentation https://djangocms-blog.readthedocs.io/en/latest/installation.html#attach-the-blog-to-a-page

[2020-11-01 01:51] yakky opened #643 "Add support for django CMS 3.8 / Django 3.1"

[2020-11-01 02:00] #643 closed

[2020-11-14 17:19] yakky opened #645 "Drop url"
Replace `url` with `re_path`

[2020-11-14 17:42] #627 closed

[2020-11-14 18:33] #645 closed

[2020-11-15 15:36] macciocu opened #648 "URL pattern warning issued upon runserver command"
## Description
runserver command issues URL pattern warning

## Steps to reproduce

`pip install -r requirements.txt`

With requirements.txt contents:

[code]
python manage.py runserver 0.0.0.0:8000

Will issue the following warning:

## Versions

python 3.8
django-cms ~= 3.8
django < 3.1

## Expected behaviour

runserver executes without warnings.

## Actual behaviour

is issued.

[2020-11-15 16:17] yakky commented on #648
@macciocu thanks for raising the issue, I opened a PR to fix that

[2020-11-16 07:34] #648 closed

[2020-11-19 16:42] jib-72 opened #651 "KeyError at /es/admin/djangocms_blog/blogconfig/1/change/"
## Description

Hi, I m working with Django CMS 3.7 and I just update to the last version Django CMS BLOG 1.2.1 and when I press the button Edit configuration in the toolbar I get this error   /es/admin/djangocms_blog/blogconfig/1/change/
![django_cms_blog_error](https://user-images.githubusercontent.com/74718194/99693691-effba800-2a8b-11eb-8745-84e0482e1434.png)
The cms languages is settings like

[2020-11-20 00:20] yakky commented on #651
@jib-72 which was the previous version you updated from?
which command have you used to update the packages?
which is the django-appdata version? <- this is likely the issue, make sure to have the latest django-appdata which fix some compatibility issues with django 3.0+

[2020-11-24 16:52] fsbraun opened #652 "Django 3.1: ValueError at /de/admin/djangocms_blog/post/"
## Description

As of Django 3.1 the admin interface throws a value error when viewing blog posts. (`USE_TZ = True`)

The error reads:
[code]

Since missing time zone definitions are a known issue I have checked the database and all time zone data is correct. Also, from the shell I can read all dates from all Post objects w/o and they are converted nicely to time zone aware datetime objects (UTC).

[2020-11-25 10:32] Honza-m commented on #617
To add to the discussion, this is a layout I've implemented in my project. It's by no means perfect, and some of the issues highlighted in this thread persist, but to me it's much more sensible than the current default layout. It can be implemented by simply updating the _fieldsets property and get_fieldsets function of PostAdmin.

(Note all categories are collapsed by default)
![image](https://us

[2020-11-25 10:41] yakky commented on #652
@fsbraun what's the django-appdata version in your virtualenv?

[2020-11-25 10:43] fsbraun commented on #652
@yakky It's 0.3.2, the latest I am aware of.

[2020-11-25 10:47] yakky commented on #652
@fsbraun sorry, I got confused in the notifications list and I opened the wrong issue, so I ended up adding the wrong question
I will check this.
Do you have any chance to test this on python 3.8 or earlier?

[2020-11-30 11:40] taut-and-yare opened #653 "NoReverseMatch if slug contains special characters when updating to 1.2.1"
## Description

In a working installation of the blog, I am trying to upgrade from  1.1.1 --> 1.2.1

Post.get_absolute_url  throws a NoReverseMatch error when slug contains special characters (umlauts etc.)

## Steps to reproduce

Add new post containing a "special character" ( e.g. ü )

## Versions

python 3.6, Django 2.2, django-cms 3.7.4, djangocms-blog 1.2.1

## Expected behaviour

Post appear

[2020-12-03 13:57] yakky opened #655 "Port to django CMS 4"
Add experimental branch for django CMS 4

- [ ] Support for edit / preview / history endpoints
- [ ] Add support for versioning

[2020-12-03 21:01] Spidiffpaffpuff opened #656 "Field for "TEXT" is missing in most add/edit views but not in all"
I'm running djangocms 3.8.0 with Django 3.1.4 and Python 3.9.

I have installed djangocms blog and it's mostly working except for the display of the "TEXT" field. When I try to add a new blog post via the blog dropdown menu on the left of the toolbar, I get the full add form except for the "TEXT" field. When I try to edit a preexisting blog post, the "TEXT" field is missing. However if I use the "

[2020-12-04 22:28] #653 closed

[2020-12-04 22:32] yakky commented on #656
@Spidiffpaffpuff by default djangocms-blog uses plugin based content, so no text field is provided in the changeform but you can add text (and much more!) via the django-cms plugin system

See the relevant documentation (the links to the django CMS documentation at the top of https://djangocms-blog.readthedocs.io/en/latest/installation.html#installation ) about how working with the django CMS plug

[2020-12-04 22:33] yakky commented on #653
@taut-and-yare this has been fixed in PR #654 kindly provided by @pierreben :bow:

[2020-12-04 23:11] yakky commented on #652
@fsbraun can't reproduce the error either using the project integrated with djangocms-blog or a djangocms-installer bootstrapped one (see https://github.com/yakky/djangocms-blog-poc for a basic djangocms-blog website

[2020-12-04 23:22] Spidiffpaffpuff commented on #656
Thank you for your answer. I was unsure whether this behavior was intended. I will try out setting BLOG_USE_PLACEHOLDER to False and see how it changes the appearance.

However, here's some things I would like you to consider.
When a user tries to edit a blogpost through the backend, they will find a form with a textfield, that looks just like the "TEXT" field. Except it is the field for "ABSTRACT

[2020-12-04 23:32] yakky commented on #656
@Spidiffpaffpuff I see your point of view and I am eager to discuss how to improve the experience and the documentation in this regard.

Unfortunately django CMS does not allow to edit plugin content from the admin (which is still regarded as the primary way to edit content on djangocms-blog) and thus we can't add this back into the admin changeform. For this reason the default templates implement

[2020-12-05 19:13] Spidiffpaffpuff commented on #656
I want to make sure that we really are talking about the same thing so I made a couple of screenshots after all.
![create1](https://user-images.githubusercontent.com/6794807/101261036-5b07d880-3734-11eb-85d7-dcba03fa81e7.PNG)
![create2](https://user-images.githubusercontent.com/6794807/101261039-5c390580-3734-11eb-9d6b-9e2a2f0604cb.PNG)
This is the form I get when I click on the Create-Button on t

[2020-12-05 19:13] #656 closed

[2020-12-06 15:59] yakky opened #657 "Add python 3.9"
Add support for python 3.9

[2020-12-06 16:43] #657 closed

[2020-12-06 18:43] yakky commented on #656
@Spidiffpaffpuff thanks for the update
the "Create" button triggers the django CMS wizard which has a custom form and (to make the story short) it allows to add a text field which is created as a text plugin when the form is saved. Sadly, this does not work on editing, so, yes, in this case you have to edit the post twice if you want to edit the content *and* its metadata.
Based on my experience t

[2020-12-15 12:02] fsbraun commented on #652
@yakky Thanks for looking at this! I tried Python 3.7 and had the same error. But also, I cannot reproduce the error on djangocms-blog-poc. That points to the database backend. I will research more.

[2020-12-16 09:39] whyronimus opened #659 "NoReverseMatch for Translation"
I am trying to provide a two-language version of a djangocms-blog I set up.

**Steps to reproduce:**

- Install Django CMS and djangocms-blog according to manual
- set up two languages
- Create Page "blog" and attach apphook to both languages
- try to publish both

**Versions**

Django CMS 3.5.3
Django 1.11
Python 3.6.7

**Expected behaviour**

Both Blog pages should display overview of blog entri

[2020-12-18 22:32] yakky commented on #659
@whyronimus thanks for the report, which are the djangocms-blog and django-parler in the virtualenv?
the root issue is the page not being published in the second language: are all the ancestors of the blog page  published on all the languages
Namespace is the same for all the languages, so this is normal

[2020-12-21 10:40] yakky opened #660 "Improve django-app-enabler support"

[2020-12-21 10:59] #660 closed

[2020-12-29 15:52] jib-72 commented on #651
Hi yakky,
Sorry for the delay in answering. I delete the records in the plugin database and update django-appdata and the new version of django-cms 3.8. It seems to work. Thank you very much for your recommendations.

[2020-12-29 15:52] #651 closed

[2020-12-30 09:03] yakky commented on #651
@jib-72 thanks for the update, glad it worked!

[2021-01-12 14:55] g3rb3n opened #662 "Add the ability to include header images in RSS feed"
## Description
Add the ability to include header images in RSS feed.

## Use cases
A customer that wants visually rich content in a RSS feed.

## Proposed solution
Add an option in global settings or in the app settings.
Add a CDATA section with the image to the RSS item description.

## Alternatives
Build a separate RSS feed.

## Additional information
None

[2021-01-12 14:58] g3rb3n opened #663 "Add the ability to exclude certain RSS items from feed"
## Description
Add the ability to exclude certain RSS items from feed

## Use cases
Someone want's the article on the site, but does not want to send notifications through RSS.

## Proposed solution
Add a "Include in RSS feed" setting to Blog Post admin.

## Alternatives
Extend Blog Post and build separate RSS feed that filters on this setting.

## Additional information
None

[2021-01-13 19:28] #634 closed

[2021-02-11 14:59] fsbraun commented on #652
Sorry, turns out to it was an awkward (and from my side still not fully understood) configuration error in mariadb. Works now and was NOT related to djangocms-blog (though the error popped up in the app). Thanks for helping out!!

[2021-02-11 14:59] #652 closed

[2021-02-26 19:45] Immeo opened #665 "Edit template"
Hello, please tell me how to redo the DjangoCMS blog template for the desired structure? I understand what needs to be edited post_list.html but there is no description of tags in the official documentation, what should I do? I need to output categories(Using input radio) and be able to choose to display articles of a certain category. Display the image (preview), title, and date. How do I do this

[2021-03-02 08:43] YOBA1112 opened #666 "BLOG_IMAGE_FULL_SIZE configuration problem"
## Description

Pictures not loading, raising an exception

## Steps to reproduce

1.Install djangocms-blog via pip
2.Complete the [installation](https://djangocms-blog.readthedocs.io/en/latest/installation.html)
3.In _settings.py_ set `THUMBNAIL_DEBUG = True`
4.Create an article containing a main image, like so
![изображение](https://user-images.githubusercontent.com/58447695/109619270-a1a97b00-7

[2021-03-02 20:40] MacLake opened #667 "post.get_absolute_url fails with permalink structure set to category when article isn’t assigned to a category"
## Description
Changing the permalink structure in the blog settings to category leads to an AttributeError caused by `{{ post.get_absolute_url }}` in `templates/djangocms_blog/includes/blog_item.html`

## Steps to reproduce
1. Create at least one  blog article without choosing a category
2. Select permalink structure “category” in the blog settings
3. Rendering overview pages like the post list o

[2021-03-03 21:25] Immeo commented on #666
when there is no BLOG_IMAGE_FULL_SIZE in the settings, the picture also does not appear.

[2021-03-03 23:26] Immeo opened #668 "How display category?"
Hello, please tell me how from django cms blog to display the name of the categories in the template, namely in the label input radio? example: https://dpaste.org/fowj

[2021-03-04 10:37] YOBA1112 opened #669 "How can I change configuration from local project?"
So, I'm trying to import djangocms_blog.settings into settings.py of my project to override it with new values, but when I do - I get this error:
`django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.
`
What's the proper way to change configuration?

[2021-03-04 10:59] fsbraun commented on #669
Just a guess: `djangocms_blog.settings` needs not be imported or copied into `settings.py`. Rather use `settings.py` to overwrite standard settings in `djangocms_blog.settings`.

E.g., if you want to have 25 words before a summary is truncated, add

`BLOG_POSTS_LIST_TRUNCWORDS_COUNT = 25`

to your `settings.py`.

For a list of settings you might want to change (but not have to) , see https://djang

[2021-03-04 11:20] YOBA1112 commented on #669
Oh, so I didn't need to import anything, got it, thanks a lot!

[2021-03-04 11:20] #669 closed

[2021-03-04 14:46] Aiky30 commented on #167
I've fallen onto this issue with a fresh installation. i am using django-cms v4 which could introduce it's own set of issues. The issue appears to be because the cms's app registration tries to load modules in, including the wizards. It falls over because the following logic tries to run imediatley when the codeis loaded, prompting a call to a model that doesn't yet have migrations. You can't crea

[2021-03-08 12:39] YOBA1112 opened #670 "How can I get main page blog url?"
For example, I have a post_detail.html which contains that line:
`<a href="" class="btn btn-outline-dark"><i class="fa fa-angle-left"></i> Back</a>`
How can I change href link so clicking this button would take me to main page of blog?

[2021-03-15 11:23] didierCH commented on #666
I just had this same problem: if you don't provide a width AND a height in your settings, the image will not be loaded (the src attribute is empty). It can be fixed with a custom setting like this `BLOG_IMAGE_FULL_SIZE = {"size": "640x640", "crop": True, "upscale": False}`, but it would be nice if the image would be rendered without specifying the width and height with an HTML attribute.

[2021-04-26 20:18] YOBA1112 opened #673 "Adding custom placeholder"
I'm trying to add custom placeholder, like so:
`news_title = PlaceholderField("news_title", related_name="news_title")`
This goes after line 267 in current version of models.py.
After migration, I'm trying to insert this placeholder into my template, like so:
`{% render_placeholder post.news_title %}`
But it doesn't work, nothing happens and placeholder just doesn't show up.
If I'm trying to add,

[2021-05-05 04:34] veliluukkonen opened #675 "Error in menu when are used categories"
Blog menu structure settings are 'Categories only' and 'Show empty categories in menu' is not selected. After that menu is empty. The blogs title shows in menu only. However there are categories which contains posts.

I read library code and found problem in file  css_menus.py. Class is BlogCategoryMenu and method get_nodes.
Variable used_categories is empty even if it must be filled. It not fille

[2021-05-05 05:56] veliluukkonen commented on #675
Bug correction in fork veliluukkonen/djangocms-blog

[2021-06-17 06:19] srinivas-kini opened #678 "Blog Content not loading properly on click 'read more >>'"
## Description

## Steps to reproduce
- Create a new Blog Config.
- Create a new Blog Category.
- Create a new Article for that Config and Category and save it.
- In CMS, create a new page and select the plugin 'Latest Blog Articles' and add it to the page.
- In the blog preview section on clicking 'read more >>' and navigating to the contents of the individual blog, it does not load the content o

[2021-06-17 06:28] srinivas-kini opened #679 "'Author Blog Articles' plugin template missing the author name (username)."
## Description
- On selecting the 'Author Blog Articles' plugin and adding it to the CMS Page, it simply shows **'Articles By' instead of 'Articles By <author_name>'**

## Versions
djangocms-blog==1.2.3

## Expected behaviour
- It should display the author's name after 'Articles By'.

## Actual behaviour
-  It does not display the author's name after 'Articles By'.

## Additional information
![ima

[2021-07-12 14:30] pupattan opened #681 "Invalid template name in 'extends' tag: ''. Got this from the 'CMS_TEMPLATE' variable."
Getting the following error with latest version
Invalid template name in 'extends' tag: ''. Got this from the 'CMS_TEMPLATE' variable.

[2021-07-12 14:39] pupattan commented on #681
Need o add cms.context_processors.cms_settings in context_processors. My bad

[2021-07-12 14:39] #681 closed

[2021-07-16 03:31] riquedev opened #682 "How to migrate article images from another CMS?"
I have a database with all information from a particular site, however, I'm having difficulties to migrate the images.
I have them in specific sizes for each performance (thumb, cover, etc...).
Tried to do something like test files but to no avail.

[2021-07-17 01:32] bethlakshmi commented on #666
I just stumbled upon this as well - it would lovely to have this in the installation instructions, if nothing else.

[2021-07-18 12:57] svandeneertwegh opened #683 "When removing a blog post i get cannot call delete() after .distinct()."
I cannot remove a blog post. I get "Cannot call delete() after .distinct()."

## Steps to reproduce

djangocms_blog==1.2.3
django==3.2.5

Apparently this repo is not ready for django 3.2.5..
When i switch back to django==1.2.9 it does work..

[2021-07-19 00:27] riquedev opened #684 "How limit/remove related post in change?"
Hi, I have a problem regarding the related posts part on the post edit page.
Due to the large amount of posts I'm having a very big slowdown on the page, it would be necessary to limit or even remove the "related posts" field.

[2021-08-03 03:32] pupattan opened #685 "Save does'nt work in detail view when BLOG_USE_PLACEHOLDER = False"
if I save a existend blog post in the detail view of the post, the change will not be saved to the database.

config:
BLOG_USE_PLACEHOLDER = False

The issue is same as https://github.com/nephila/djangocms-blog/issues/123

- the django administration interface => everything works fine
- in the detail view of the frontend editor => save problem

I dont have any PARLER_LANGUAGES settings

[2021-08-03 03:43] pupattan commented on #685
When i debug i found that in placeholderpadmin.py in def edit_field() the form goes invalid expecting for posttitle looks like
[code]
form.errors in the above code prints the following. But i am editing the post_text only
<ul class="errorlist"><li>title<ul class="errorlist"><li>This field is required.</li></ul></li></ul>

[2021-08-03 17:04] pupattan commented on #685
Anything to change in PostAdminForm ?

[2021-08-18 21:05] YOBA1112 commented on #673
In order to placeholder show up - I needed to create new post after migration, but there is another problem, how can I add `news_title = PlaceholderField("news_title", related_name="news_title")` to post model from my local models?

[2021-08-23 13:55] petrklus opened #686 "Django 3.2 support"
In the supported Django versions, 3.1 is listed as the latest. Is there a time estimate for DJ3.2 support?

[2021-09-07 17:01] riquedev opened #687 "Change search order"
How do I sort posts by date in haystack search?
Searching the internet I tried to change the "searchqueryset" in urls.py, however it doesn't return any posts.

[2021-10-26 14:49] g3rb3n opened #688 "Git pre commit hook fails on towncrier. No idea what 'towncrier-check' is!"
## Description
Git pre commit hook fails on towncrier.

## Steps to reproduce
Install Ubuntu 18.04
Install python3-invoke with apt
Follow instructions in CONTRIBUTING.rst
Make a change
git add -u
pre-commit

## Versions
Ubuntu 18.04
Python 3.6
Django 2.2

## Expected behaviour
[code]

## Actual behaviour
[code]

## Additional information
None.

[2021-10-26 15:10] #688 closed, assigned to nobody

[2021-11-02 17:04] g3rb3n opened #691 "Restrict related posts to just the current site"
## Description
Currently all post from all sites are shown as option for related content. We would like to limit that to just the posts from the current site.

## Use cases
A setup that has many sites with unrelated content for cross posting.

## Proposed solution
Include an option is settings to enable this feature.
Filter the options in form.py based on the current site in the request.

## Alter

[2021-11-08 17:01] TLuesebrinck commented on #659
Had exact this problem. In my case the menu/page item with the Blog/News app hock was not published for the German language. After fixing this it works.

[2021-11-11 14:11] quercetum opened #692 "Two blogs on one site."
## Description
I need two blogs on the site. With non-overlapping news. The articles themselves are displayed correctly. But when the archive is displayed, all links lead to the archive of the first blog, although the number of articles is indicated for the second blog correctly.

## Steps to reproduce

Install djangocms-blog, customize. We create settings for two blogs and two categories. We crea

[2021-11-23 20:34] imachuchu opened #693 "Post's date modified isn't getting updated on content update"
## Description

When a post is edited and saved the post's date_modified field isn't updated. This is useful for incremental search indexing to catch posts that have been updated since the last time it was run.

## Steps to reproduce

1. Create and publish a post
1. Update the post

## Versions

Tested on djangocms-blog==1.2.3

## Expected behaviour

Expect the post's date_modified field to be upd

[2021-11-25 17:10] fsbraun opened #694 "Content hub capability"
Hi everyone, hi @yakky!

## Description

We're using djangocms-blog for many years now and it has proven extremely helpful and reliable in providing a chronological blog. However, we have noticed that great content gets less and less visible over time as it moves deeper and deeper into the past and gets paginated away.

## Use cases

We are setting up "**content hubs**" ([https://backlinko.com/hub

[2021-11-25 17:13] fsbraun commented on #691
An optional restriction to a specific blog config might also be of interest - if you have multiple blogs on one site. Would the right place be the blog config changing the config from using related posts to

- Do not use related posts
- Use related posts from this blog config
- Use related posts from this site
- Use related posts from all sites?

[2021-11-29 16:40] fsbraun commented on #684
Have you also changed this in the apphock config? On the admin panel there is are settings for djangocms blog, one for each apphook. In the setting, disable related posts.

[2021-12-12 21:38] mamedovramil opened #696 "Russian slug to Latin"
When creating a title in Russian, slug is also created in Russian, but the Latin alphabet is required.
Setting allow_unicode = True in the model Post.translations.slug helps, but there is no separate setting for that.

[2021-12-12 21:44] mamedovramil opened #697 "Several authors, authors and categories profile"
It is required to be able to specify several authors for the article, and also when clicking on the author, instead of filtering, receive a link to his profile.
For categories, I would also like to follow the link to the page, instead of filtering.

[2021-12-13 10:15] fsbraun commented on #697
@mamedovramil For two of your requests there might be an easy solution available. If you do not want to filter authors or categories you might want to try and adapt the templates, especially `templates/djangocms_blog/include/blog_meta.html`:

    {% if post.author %}
    <li>
        {% trans "by" %} <a href="{% url 'PUT HERE THE URL PATTERN NAME OF YOUR AUTHOR PROFILE' post.author %}">{% if post.

[2021-12-13 10:20] fsbraun commented on #696
@mamedovramil Which version of djangocms-blog are you using. I believe in 1.2.3 the `allow_unicode = True` option is set for all post slugs.

Or are you talking about category slugs? I fear there the flag is missing in version 1.2.3.

[2021-12-13 10:28] fsbraun commented on #696
PS: Just included the `allow_unicode=True` setting in PR #695 since it fits the PR's purpose. The PR needs to be approved, however.

[2021-12-13 17:14] mamedovramil commented on #696
@fsbraun sorry wrong, only setting allow_unicode = False helps to solve my problem. But I can't change that without editing blog model. My version is 1.2.3

--
When creating a title in Russian, slug is also created in Russian, but the Latin alphabet is required.
Setting allow_unicode = **False** in the model Post.translations.slug helps, but there is no separate setting for that.

[2021-12-13 17:19] mamedovramil commented on #697
@fsbraun thanks a lot, it helped! 2 of 3 questions closed.

[2021-12-13 19:20] fsbraun commented on #696
@mamedovramil All right, I misunderstood. You get Cyrillic letters proposed for the slug but need latin letters, right? This means right now you have to manually change the slug to latin letters.

Can you check if category slugs behave as you propose?

If I get this right, you propose a feature to make configurable in the settings.

[2021-12-13 19:25] mamedovramil commented on #696
@fsbraun Correct. Category slug behave as I need.

[2022-01-29 14:48] nubenum commented on #678
Most likely the same problem as in #52 and #85 and #636 and #354 and #270 and #524 and...

To recap:

Default configuration (`BLOG_USE_PLACEHOLDER = True`, `BLOG_USE_ABSTRACT = True`):
* In the article creation popup, you can only write an abstract (!) for the article. This will only be shown in the article overview.
* The actual body of the article must be added via the Django CMS structure menu

[2022-02-01 15:03] Wekhrlin commented on #692
I also have the same problem.

A workaround which is not very nice, but still works, is to use separate templates for the second instance.

For the archive (plugins/archive.html) you could change
`<a href="{% url 'djangocms_blog:posts-archive' year=year.grouper %}">`
to:
`<a href="/[your instance]/{{ year.grouper }}">`

`<a href="{% url 'djangocms_blog:posts-archive' year=year.grouper month=month.

[2022-02-11 15:38] febsn opened #698 "Is djangocms-blog alive?"
Since there hasn't been a release for more than a year, I'm wondering if djangocms-blog is still being maintained. @yakky would you mind sharing on the project's future?

[2022-02-16 12:54] petrklus commented on #683
Seeing the same here

[2022-02-16 12:56] petrklus commented on #683
[code]

[2022-02-28 15:48] petrklus commented on #698
Curious as well!

[2022-03-11 13:22] corentinbettiol opened #699 "Escape not required for meta description"
## Description

Djangocms-blog is escaping meta description in `get_description` (in `Post` and `BlogCategory`), but django-meta already escape all meta tags.

The result is that keywords (and other meta tags that don't use meta description) are single escaped (in django-meta), and that description (and all other meta tags that use meta description as a source) are double escaped (one time in djan

[2022-03-28 23:09] tacc-wbomar commented on #698
The new [djangocms-frontend](https://github.com/fsbraun/djangocms-frontend) plugin, which [will be endorsed by the Django CMS Association](https://github.com/fsbraun/djangocms-frontend/issues/8), has [prominent mention of djangocms-blog as a compatible app](https://github.com/fsbraun/djangocms-frontend#key-features).

[2022-04-05 12:06] quercetum commented on #692
Thank you very match! It work!

[2022-04-11 09:55] Tritikale opened #702 "'Post' object has no attribute 'get_draft_url'"
## Description

When I try to see published blog article I'm getting  AttributeError "'Post' object has no attribute 'get_draft_url'".

With edit page everything is fine.

The problem is in cms toolbar live.html ```href="{% firstof cms_toolbar.get_object_draft_url cms_toolbar.request_path %}?{{ cms_toolbar.edit_mode_url_on }}">``` which calls get_object_draft_url:

[code]
And obj (Post) has no get

[2022-04-11 19:19] fsbraun commented on #702
@Tritikale This actually is a bug in django-cms 3.10.0. I'd suggest to downgrade to 3.9 or install 3.10.1 once it is released.

[2022-04-16 11:05] Corvette653 opened #703 "djangocms-blog multilingual support"
I've added second language to my website but djangocms-blog seems incompatible.
I've translated configuration, categories and posts in admin panel.

## Problems
1. "/aktualnosci/" (page with djangocms-blog apphook) behaves in a very strange way:
- "/pl/aktualnosci/" works well (there is a list of articles in polish)
- "/uk/aktualnosci/" is empty (I can add content and change template like there we

[2022-04-19 10:03] Corvette653 commented on #703
It was my fault, I haven't published page in ukrainian language
Here is other issue with the same problem: https://github.com/nephila/djangocms-blog/issues/659

[2022-04-19 10:03] #703 closed

[2022-04-26 15:03] palmitoto commented on #702
Hello, @fsbraun could you put the link to the issue on the django-cms github ? Thanks

[2022-04-26 15:49] fsbraun commented on #702
It's this issue with django-cms: https://github.com/django-cms/django-cms/issues/7288

[2022-04-27 03:16] jerryhall commented on #686
Bump this question please. Important to a big project. Thanks.

[2022-05-02 16:18] nachoborrelli opened #704 "Blogs are not visible on published mode"
## Description

I have all of my posts with "publish" on True, but they just appear on the edit mode.
When I press "View published" buttom, theres no post or urls associated.

![Captura](https://user-images.githubusercontent.com/47930982/166268762-997d3207-4231-4226-ac71-359eb233c9e9.PNG)
![Captura2](https://user-images.githubusercontent.com/47930982/166268925-4bf8b9c2-21a3-40e2-b5a8-621f7d4bbade.

[2022-05-23 12:51] szabozoltan69 commented on #683
For me the same issue was fixed via setting
[code]
in pyproject.toml, so it selected itself Django 3.2.13.

[2022-05-25 13:00] adrien-delhorme commented on #683
The bug is still present for me with `djangocms-blog==1.2.3` and `Django==3.2.13`.

[2022-06-02 11:40] fsbraun commented on #702
This bug is fixed in `django-cms==3.10.1rc1`: https://pypi.org/project/django-cms/3.10.1rc1/

[2022-07-04 13:19] JohnYan2017 commented on #683
any solution? django bug?

[2022-07-04 15:28] petrklus commented on #683
I would not call it a bug, it is more of a behaviour change that we need to adapt to.

[2022-07-28 21:04] yakky opened #705 "Restore Github actions"
Github actions no longer work due to old versions used in configuration

[2022-07-28 21:48] yakky commented on #698
@febsn @petrklus @wesleyboar thanks a lot for the interest in djangocms-blog. Even if it's been dormant due to personal reasons, lately, our plan is to get it back on track and align it with the rest of the django CMS ecosystem.

We plan to make the testsuite work again in the next days to be able to officially support current django and django CMS release

Thanks again for your interest and patie

[2022-07-28 21:51] yakky commented on #696
Thanks a lot @fsbraun for taking care of this. Hopefully we will be able to merge support for this soon

[2022-08-05 14:22] corentinbettiol opened #707 "Add an option to disable unicode in slugs"
## Description

Some people may not want to have unicode chars like `ù` or `ö` in their slugs. Adding an (optional) setting would help.

## Use cases

Let slugs be auto-generated like before, but replace all unicode chars by ascii-ones (like django does when there's no `allow_unicode=True`).

## Proposed solution

Update [this line](https://github.com/nephila/djangocms-blog/blob/develop/djangocms_

[2022-08-08 15:02] febsn commented on #698
@yakky that's great news, thank you very much!

[2022-08-08 15:02] #698 closed

[2022-09-12 19:09] #485 closed

[2022-09-19 16:16] wesleyboar opened #709 "Explain What Permissions Can Allow User to Edit but Not Publish"
## Description

What permissions allow a User/Group to be able to add and edit blog articles, but **not** publish blog articles.

## Use cases

News organizations with a workflow that distinguishes who writes (adds and edits) articles, and who approves (publishes) articles.

## Proposed solution

I do not know.

## Alternatives

I have found no combination of permissions that supports my requireme